.cardinfo{

    box-shadow: none;
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    border-color: #B8B8B8;
    height: auto;
    width:auto;
    padding-bottom: 10px;

    ion-button{
        height: 44px;
        width: auto;
        margin-left: 16px;
        margin-bottom: 24px;
        margin-top:6px;

    }

    ion-chip{

        height: 28px;
        width: auto;
        text-align: center;
        margin-right: 12px;
        margin-top: 7px;
        
       
        ion-label{

            font-size:12px;
            list-style: 14px;
            color: mdgrey;
        }

    }

    ion-text{

        color:black;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        font-style: normal;
    }

    #email{

        font-size: 14px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
    }

    #infolabel{

        margin-left: 16px;
        margin-top: 7px;
        
    }
}

ion-header{}


