<app-m-header-close title="Use of Electronics / Devices"></app-m-header-close>

<ion-content *ngIf="readyFlag==true" fullscreen>
    <ion-grid style="padding:24px;height:fit-content">
        <div *ngFor="let item of equipmentList">
            <app-toggle [name]="item" [value]="formData[item]" (result)="changeToggle(item,$event)"></app-toggle>
            <hr class="solid" />
        </div>

        <!-- INSTRUCTIONS -->
        <div class="nametag" style="margin-top: 0px;">
            <ion-text position="floating" id="tag">Instructions(optional)</ion-text>
        </div>
        <div>
            <ion-textarea [(ngModel)]="formData.instructions" style="height: 120px;" class="input" placeholder="Write here"></ion-textarea>
        </div>
        <div>
            <!-- ADD IMAGE -->
            <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>
        </div>

    </ion-grid>
</ion-content>

<ion-footer>
    <div id="button">
        <ion-button [disabled]="false" class="btnblue" type="submit" id="signup" (click)="save()">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>