<ion-header mode="md">
    <ion-toolbar class="headtoolbar">
        <ion-buttons class="backbutton" slot="start">
            <m-backbutton></m-backbutton>
        </ion-buttons>
        <ion-title class="name cap" color="mdblack" position="floating" id="titletag">{{careCircleName}}'s Assessment </ion-title>
        <ion-buttons slot="end" class="kebab">
            <ion-img (click)="presentPopover($event)" src="../assets/MariposaIcons/Kebab menu.svg" style="color: black; margin-right: 10px;"></ion-img>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="margin-bottom:80px">
    <!-- <ion-grid class="box">

  

  <div class="wrapper">
    <ul class="StepProgress">
      
      <li class="StepProgress-item is-done">
        <strong>Care needs</strong>
        <ion-text style="font-size:11px;" color="mdgrey">Companionship,Exercise,shopping..</ion-text>
        <ion-card [hidden]='true' style="border: 1px; ;height: 136px;width: 327px;border-radius: 8px;bottom:20px;right:71px;">
          <ion-button>Add</ion-button>
          </ion-card> 
      </li>
      
      
      
      <li class="StepProgress-item is-done">
        <strong>Personal Information</strong>
          
          <ion-card [hidden]='true' style="border: 1px; ;height: 136px;width: 327px;border-radius: 8px;bottom:20px;right:71px;">
          <ion-button>Add</ion-button>
          </ion-card> 
        
      </li>
      
      <li class="StepProgress-item current"><strong>Medical & Psychiatric Conditions</strong>
        <ion-card  [hidden]="false" style="border: 1px; ;height: 136px;width: 327px;border-radius: 8px;bottom:20px;right:71px;">
          <ion-button>Add</ion-button>
          </ion-card> 
      </li>
      
      <li class="StepProgress-item">
        <strong>Meals</strong>
        <ion-card [hidden]='true' style="border: 1px; ;height: 136px;width: 327px;border-radius: 8px;bottom:20px;right:71px;">
          <ion-button>Add</ion-button>
          </ion-card> </li>
      
      <li class="StepProgress-item">
        <strong>Sleep Assistance</strong>
        <ion-card [hidden]='true' style="border: 1px; ;height: 136px;width: 327px;border-radius: 8px;bottom:20px;right:71px;">
          <ion-button>Add</ion-button>
          </ion-card> 
      </li>
      
      <li class="StepProgress-item">
        <strong>Home & Safety</strong>
        <ion-card [hidden]='true' style="border: 1px; ;height: 136px;width: 327px;border-radius: 8px;bottom:20px;right:71px;">
          <ion-button>Add</ion-button>
          </ion-card> 
      </li>
      
      <li class="StepProgress-item">
        <strong>Motivations</strong>
        <ion-card [hidden]='true' style="border: 1px; ;height: 136px;width: 327px;border-radius: 8px;bottom:20px;right:71px;">
          <ion-button>Add</ion-button>
          </ion-card> 
      </li>

    </ul>
    </div>
  </ion-grid> -->

    <div class="container">
        <!-- completed -->
        <ng-container *ngFor="let stepItem of stepperData">
            <div class="step" [class.completed]="stepItem.status== 'completed'" [class.cardheight]="(stepItem.children.length==0 && stepItem.status=='active') ">
                <div class="v-stepper">
                    <div [ngClass]="[stepItem.status== 'completed' ? 'circle' : 'circle-p']">
                        <ion-icon class="check-icon" *ngIf="stepItem.status=='completed'" src="assets/Group777.svg"></ion-icon>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="content" (click)="activateStepper(stepItem)" [class.activecard]="stepItem.status=='active'">
                    <div *ngIf="stepItem.status=='active'&&stepItem.children.length==0" style="display: flex;">
                        <div class="circle-a" style="margin: 0px; padding: 0;"></div>
                        <h3 style="padding-left: 16px;">{{stepItem.name}}</h3>
                    </div>
                    <h3 *ngIf="stepItem.status!='active'">
                        {{stepItem.name}}
                    </h3>
                    <ion-button *ngIf="stepItem.open && stepItem.children.length==0" class="bluebtn" (click)="gotoUrl(stepItem.pathUrl)">
                        <span *ngIf="stepItem.status=='completed'">EDIT</span><span *ngIf="stepItem.status=='active'">ADD</span>
                    </ion-button>
                    <p *ngIf="stepItem.status!='active'">{{stepItem.desc}}</p>
                </div>
            </div>
            <ng-container *ngIf="stepItem.open">
                <ng-container *ngFor="let childItem of stepItem.children">
                    <div [ngClass]="[childItem.status =='completed'? 'step completed' : 'step empty']">
                        <div class="v-stepper">
                            <div class="circle" style="visibility: hidden;" [class.hidedot]="childItem.active"></div>
                            <div class="line"></div>
                        </div>

                        <div class="content sub-content" (click)="activateChildStepper(childItem)" [ngClass]="[childItem.status=='pending' ? 'sub-content-p':'' ]">
                            <div [ngClass]="[childItem.status=='completed' ? 'sub-circle-c' : '' ,childItem.status=='pending'?'sub-circle-p':'',(childItem.status=='active')?'sub-circle-a':'']">
                                <ion-icon class="check-icon" src="assets/Group777.svg"></ion-icon>
                            </div>

                            <h3 [ngClass]="childItem.status=='pending'?'p-sub':''">
                                {{childItem.name}}
                            </h3>
                        </div>
                    </div>
                    <ng-container *ngIf="childItem.open">
                        <div class="step empty">
                            <div class="v-stepper">
                                <div class="circle"></div>
                                <div class="line"></div>
                            </div>
                            <div class="sub-content-d">
                                <ion-button class="btnblue2" (click)="gotoUrl(childItem.pathUrl)">
                                    <span *ngIf="childItem.status=='completed'">EDIT</span><span *ngIf="childItem.status=='active'">ADD</span></ion-button>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</ion-content>

<ion-footer mode="md">
    <ion-toolbar id="button">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="block" class="lbtn" shape="round" (click)="gotoUrl('previewassessment')" [disabled]="!validForm">
                        Preview
                    </ion-button>
                </ion-col>

                <ion-col size="6">
                    <ion-button expand="block" class="rbtn" shape="round" (click)="gotoUrl('assessmentcomplete')" [disabled]="!validForm">
                        SUBMIT
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>