<ion-toolbar class="secondtoolbar">
  <ion-grid fixed class="ion-no-padding">
    <ion-row style="padding-top: 8px;">
      <ion-col size="12" class="chipcol" *ngIf="showMonth">
        <!-- <ion-select
          (ionChange)="changeMonth()"
          [value]="selectedMonth"
          [(ngModel)]="selectedMonth"
          multiple="false"
          placeholder="Select Pizza"
          style="width: 100px;"
        >
          <ion-select-option
            *ngFor="let month of monthList"
            [value]="month.monthnum"
            >{{ month.shortname }}</ion-select-option
          >
        </ion-select> -->
        <div class="monthLAbel">{{ monthVar }}</div>
      </ion-col>

      <ion-col size="12" style="padding-left: 24px; padding-right: 24px;">
        <!-- <div style="text-align: justify; width: 100%;"> -->
        <table style="width: 100%;">
          <tr>
            <td *ngFor="let item of dates">
              <div
                color="primary"
                mode="ios"
                class="circlestyle"
                [class.inactivecircle]="!item.futvar"
                [class.selectedcircle]="item.selected"
                [class.activecircle]="item.futvar && !item.selected"
                (click)="selectDay(item)"
              >
                <div class="daylabel">{{ item.date | date: "EEE" }}</div>
                <div class="datelabel">{{ item.date | date: "dd" }}</div>
              </div>
            </td>
          </tr>
        </table>
        <!-- </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
