<ion-header [translucent]="true">
  <ion-toolbar class="toolbarshadow">
    <ion-segment [(ngModel)]="segValue" mode="ios">
      <ion-segment-button value="activities">
        <ion-label>Activities</ion-label>
      </ion-segment-button>
      <ion-segment-button value="shifts">
        <ion-label>Shifts</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons mode="md" slot="end">
      <ion-button [routerLink]="'/bookvitals/notifications'">
        <ion-icon
          mode="md"
          src="assets/MariposaIcons/notification.svg"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          class="propic"
          mode="md"
          src="assets/MariposaIcons/profile_img.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="secondtoolbar">
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="chipcol">
          <!-- <ion-item lines="none"> -->
          <!-- <ion-label>Pizza</ion-label> -->
          <ion-select
            value="peperoni"
            multiple="true"
            placeholder="Select Pizza"
            style="width: 85px;"
          >
            <ion-select-option value="peperoni">May</ion-select-option>
            <ion-select-option value="hawaii">May</ion-select-option>
          </ion-select>
          <!-- </ion-item> -->
        </ion-col>

        <ion-col size="12" style="padding-left: 24px; padding-right: 24px;">
          <div style="text-align: justify; display: table-cell; width: 100%;">
            <div
              color="primary"
              mode="ios"
              class="circlestyle"
              *ngFor="let item of daysList"
              [class.inactivecircle]="item.status=='disable'"
              [class.selectedcircle]="item.status=='selected'"
              [class.activecircle]="item.status=='active'"
            >
              <!-- <ion-label></ion-label> -->
              <div class="daylabel">{{item.name}}</div>
              <div class="datelabel">{{item.date}}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row style="padding-bottom: 12px;">
      <ion-col size="6" style="padding-top: 13px;">
        <ion-label class="selectlabel">Select Caregiver:</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-select
          value="peperoni"
          multiple="true"
          placeholder="Select Pizza"
          class="custSelect"
        >
          <ion-select-option value="peperoni">All</ion-select-option>
          <ion-select-option value="hawaii">Hawaii</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed class="ion-no-padding" *ngIf="segValue=='shifts'">
    <ion-row>
      <ion-col size="2">
        <ion-row>
          <ion-col size="12" class="timelinecol" *ngFor="let item of timeLine">
            <h2 class="timePer">{{item.time}}</h2>
            <!-- <div
            class="detailCard"
            [class.hidecard]="!item.card"
            [class.selectedCard]="item.selected"
          >
            <h3 class="cardtitle">{{item.name}}</h3>
            <h3 class="carddesc">{{item.desc}}</h3>
          </div> -->
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="10">
        <ion-card class="timelinecard">
          <h1>Mary</h1>
          <h4>7:00 am - 12:00 pm</h4>
        </ion-card>
        <div class="emptyspace"></div>
        <ion-card class="timelinecard">
          <h1>Johnson</h1>
          <h4>2:00 pm - 8:30 pm</h4>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed class="ion-no-padding" *ngIf="segValue=='activities'">
    <ion-row>
      <ion-col size="12" class="timelinecol" *ngFor="let item of timeLine2">
        <h2 class="timePer2">{{item.time}}</h2>
        <div
          class="detailCard"
          [class.hidecard]="!item.card"
          [class.selectedCard]="item.selected"
        >
          <h3 class="cardtitle">{{item.name}}</h3>
          <h3 class="carddesc">{{item.desc}}</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
