<app-m-header-close title="Medical & Psychiatric Conditions"></app-m-header-close>

<ion-content fullscreen>
    <ion-grid style="padding:24px;margin-bottom:30px ;height:fit-content">
        <ng-container *ngIf="formReady">
            <div *ngFor="let question of checkboxQuestions">
                <div style="padding-top:0px;margin-bottom:15px;">
                    <ion-label style="font-size: 16px;line-height: 19px;">{{question.label}}</ion-label>
                </div>
                <ion-row style="align-items: center;margin-top:5px;" *ngFor="let option of question.options">
                    <ion-col size="1">
                        <div style="padding-left: 3px;">
                            <ion-checkbox mode="md" #option color="mwhite" [(ngModel)]="medicalForm[question.key][option]">
                            </ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col (click)="generateClick(question.key, option)" size="11" style="padding-top: 0px;">
                        <div>
                            <ion-text style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">{{option}}</ion-text>
                        </div>
                    </ion-col>
                </ion-row>
                <hr class="solid">
            </div>
            <div *ngFor="let question of toggleQuestions">
                <ion-row style="align-items: center;">
                    <ion-col size=8>
                        <ion-text style="font-size:16px;line-height:19px;font-weight:300;">{{question.label}}</ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text style="font-size:16px;line-height:19px;font-weight:normal;float: right;margin-right:12px ;"><span *ngIf="medicalForm[question.key]">YES</span
                  ><span *ngIf="!medicalForm[question.key]">NO</span></ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-toggle [(ngModel)]="medicalForm[question.key]" mode="ios" color="primary" style="float: right;"></ion-toggle>
                    </ion-col>
                </ion-row>
                <hr class="solid">
            </div>
            <div *ngFor="let question of radioQuestions">
                <div style="padding-top:0px;margin-bottom:10px;">
                    <ion-label style="font-size: 16px;line-height: 19px;">{{question.label}}</ion-label>
                </div>

                <ion-radio-group [(ngModel)]="medicalForm[question.key]">
                    <ion-row style="align-items: center;">
                        <!-- <div *ngFor="let option of question.options"> -->
                        <ion-col size="4" *ngFor="let option of question.options">
                            <ion-radio mode="md" [value]="option" style="float:left; margin-right: 10px;"></ion-radio>
                            <ion-text (click)="toggleRadio(question.key, option)" style="font-size:16px;line-height:19px;font-weight:300;float:left">{{option}}</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-radio-group>
                <hr style="margin-top:5px ;" class="solid">
            </div>
            <div>
                <!-- PLEASE SELECT OTHER FACTORS -->
                <div style="padding-top:0px;margin-bottom:15px;">
                    <ion-label style="font-size: 16px;line-height: 19px;">Please Select Other Factors</ion-label>
                </div>

                <ion-row style="align-items: center;margin-top:5px;" *ngFor="let option of otherFactors.options">
                    <ion-col size="1">
                        <div style="padding-left: 3px;">
                            <ion-checkbox mode="md" color="mwhite" [(ngModel)]="medicalForm[otherFactors.key][option]"></ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col size="11" style="padding-top: 0px;">
                        <div>
                            <ion-text (click)="generateClick(otherFactors.key, option)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">{{option}}</ion-text>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ng-container>
    </ion-grid>
</ion-content>


<ion-footer>
    <ion-grid style="padding-left: 24px;padding-right: 24px;padding-top: 16px;padding-bottom: 16px;">
        <!-- BUTTON -->
        <div id="button">
            <ion-row style="align-items: center;">
                <ion-col size="4">
                    <ion-button class="btn1" [disabled]="false" type="submit" id="signup">PREVIEW</ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-button class="btn2" [disabled]="false" type="submit" (click)="save()" id="signup">SAVE AND PROCEED</ion-button>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-footer>