.submitbtn {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    --border-radius: 8px;
    width: 82.5%;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 44px;
  }
  .lbtn {
    margin-left: 24px;
    --border-width: 1px;
  }
  .rbtn {
    margin-right: 24px;
    float: right;
  }
  
.selecttimegrid{
  padding: 24px;
  padding-top: 8px;
}

.productlistgrid{
  padding:16px ;
  padding-top:8px;
}

.text{
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  font-style: normal;
  margin-left: 5px;
}

.textsmall{
  font-weight: 500;
  font-size: 14px;
  line-height:17px;
  font-style:normal;
  color: #7E7E7E;
  margin-left: 8px;
  
}

div{
  padding: 0px;
}

.productbrand{
  font-weight: normal;
  font-size: 14px;
  line-height:17px;
  font-style:normal;
  color: #7E7E7E; 
}

.productname{
  font-weight: bold;
  font-size: 14px;
  line-height:17px;
  font-style:normal;
  color: #1A1A1A; 
}

.quantity{
  font-weight: 300;
  font-size: 16px;
  line-height:19px;
  font-style:normal;
  color: #1A1A1A;
}


//time component css

.configurecaregrid {
  padding: 0px;
}
.timetext {
  display: flex;
}
.timesec {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
}
.timemin {
  color: #B8B8B8;
}
.meridiemsec {
  display: grid;
  padding-left: 16px;
  span {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #B8B8B8;
  }
}
.activemeridian {
  color: #4137ff !important;
}
.dltbtn {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  /* Direct Black */

  color: #1a1a1a;

  ion-icon {
    font-size: 16px;
    --color: #1a1a1a !important;
  }
}
.dltbtn::part(native) {
  padding: 0;
}
ion-icon {
  //zoom: 1;
}
.dltsec {
  width: 100%;
  text-align: end;
}
