<app-m-header-close title="Shopping List"></app-m-header-close>
<ion-content>
    <ion-grid class="selecttimegrid">
        <!-- SELECT TIME -->
        <m-selectdate [times]="timeList" (result)="addtime($event,'timeList')"></m-selectdate>
        <!-- SELECT TIME END -->

        <div style="padding: 0px;" class="nametag">
            <ion-text position="floating" id="tag">Assign to</ion-text>
        </div>
        <div style="padding-top: 5px;">
            <ion-select mode="md" class="input" placeholder="Select one">
                <ion-select-option value="caregiver">Care Giver</ion-select-option>
            </ion-select>
        </div>
    </ion-grid>
    <ion-grid class="productlistgrid">
        <div>
            <ion-text class="text">Select items from the list</ion-text>
        </div>

        <div style="margin-top:16px ;">
            <ion-text class="textsmall">Product Name</ion-text>
        </div>

        <hr class="solid" style="margin-top: 15px;margin-bottom:11px ;">

        <div *ngFor="let item of shoppinglist  " style="padding:0px">
            <ion-row style="align-items:center ;">
                <ion-col size="2">
                    <ion-checkbox [(ngModel)]="item.isChecked" mode="md" style="margin-left:4px ;"></ion-checkbox>
                </ion-col>

                <ion-col>
                    <ion-text class="productname">{{item.name}}<br></ion-text>
                    <ion-text class="productbrand">{{item.brand}}</ion-text>
                </ion-col>
            </ion-row>

            <div *ngIf="item.isChecked">
                <ion-row style="margin-top:6px;align-items: center;">
                    <ion-col size="2"></ion-col>
                    <ion-col style="padding-bottom: 0px;">
                        <ion-text class="quantity">Quantity</ion-text>
                    </ion-col>
                </ion-row>

                <ion-row style="margin-top:6px;align-items: center;">
                    <ion-col size="2"></ion-col>
                    <ion-col size="5">
                        <ion-input class="input"></ion-input>
                    </ion-col>
                    <ion-col size="5">
                        <ion-select style="width:90%;float:right;" class="input">
                            <ion-select-option value="no's">No's</ion-select-option>
                            <ion-select-option value="kg">KG</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
            </div>
            <hr class="solid" style="margin-top: 11px;margin-bottom: 11px;">
        </div>
    </ion-grid>

</ion-content>

<ion-footer mode="md">
    <ion-toolbar id="button">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="block" class="lbtn" shape="round">
                        ADD MORE
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button (click)="save()" color="primary" expand="block" class="rbtn" shape="round">
                        SUBMIT
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>