ion-item{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #000000;
--min-height: 64px;
background: #FFFFFF;
// box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
--border-radius: 8px;
width: 100%;

}