<ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="close()" class="closebtn" shape="round">
            <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content>

    <p class="addactivity">Add Activity</p>
    <ion-list>
        <ion-item *ngFor="let item of listItems" lines="none" (click)="addActivity(item.type)">
            <div class="rndbtn">
                <ion-icon slot="start" name="add"></ion-icon>
            </div>
            <ion-label>{{ item.name }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>