<ion-header mode="md">
    <ion-toolbar class="headtoolbar">

        <ion-row>
            <ion-col size="2">
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <m-backbutton></m-backbutton>
                    </ion-buttons>
                </ion-toolbar>
            </ion-col>
            <ion-col size="5">
                <div>
                    <ion-text color="mdblack" position="floating" id="titletag">Shopping List</ion-text>

                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-text style="float: right;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          color: #4137FF;
          margin-top: 3px;">DELETE
                    </ion-text>
                </div>
            </ion-col>

        </ion-row>

    </ion-toolbar>
</ion-header>

<ion-content scrollable>
    <ion-grid style="
      padding-top: 24px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 13px;
      height: auto;
      margin-bottom: 73px;
    ">

        <ion-row>
            <ion-col>
                <ion-text style="font-size: 14px;line-height: 17px;color: #1A1A1A;">Product Name</ion-text>
            </ion-col>
            <ion-col>
                <ion-text style="float:right;font-size: 14px;line-height: 17px;color: #1A1A1A;">Specification</ion-text>
            </ion-col>
        </ion-row>

        <hr class="solid">
        <ng-container *ngIf="shoppingitems.length; else noList">
            <div *ngFor="let item of shoppingitems">
                <ion-row>
                    <ion-col class="setpadding">
                        <ion-text style="font-size: 14px;line-height: 17px;color: #1A1A1A;font-weight: 500;">{{item.name}}</ion-text>
                    </ion-col>
                    <ion-col class="setpadding">
                        <ion-text style="float:right;font-size: 14px;line-height: 17px;color: #7E7E7E;">{{item.brand}}</ion-text>
                    </ion-col>
                </ion-row>
                <hr class="solid" style="margin-top: 16px;margin-bottom:16px;">
            </div>
        </ng-container>
        <ng-template #noList>
            <ion-text style="font-size: 14px;line-height: 17px;color: #1A1A1A;">No shopping list!</ion-text>
        </ng-template>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-grid style="padding-left: 24px;padding-right: 24px;padding-top: 16px;padding-bottom: 16px;">
        <!-- BUTTON -->
        <div id="button">
            <ion-row style="align-items: center;">
                <ion-col size="6">
                    <ion-button class="btn50white" [disabled]="false" routerLink="/assessment/addshoppinglist">ADD MORE</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button class="btn50blue" [disabled]="false" type="submit" (click)="save()">SAVE & PROCEED</ion-button>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-footer>