<ion-header mode="md">

    <ion-toolbar class="headtoolbar">
        <ion-grid class="headergrid">
            <ion-row style="align-items: center;margin-bottom: 5px;">
                <ion-col size="10">
                    <div>
                        <ion-text color="mdblack" position="floating" id="titletag">Add Members</ion-text>
                        <ion-text class="cap" style="font-size:14px;" color="mdgrey"><br>({{careCircleName}}'s Care Circle)</ion-text>
                    </div>
                </ion-col>
                <ion-col>
                    <ion-icon style="zoom:1.2;color: black;float:right;" name="close-outline" (click)="back()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-grid style="padding-top:32px;padding-left:24px;margin-bottom: 100px;">
        <ion-text style="font-weight:300;font-size:16px;line-height:19px;">Select Role</ion-text>
        <ion-row style="margin-top: 8px;">
            <ion-col class="gencol" size="3">
                <div style="padding-top:3px;">
                    <ion-card class="genCard" [class.selectedGen]="selectedType=='CAREGIVER'" (click)="selectedType='CAREGIVER'">
                        <img [src]="selectedType=='CAREGIVER'?'assets/MariposaIcons/Caregiver_white.svg':'assets/MariposaIcons/Caregiveroutline.svg'" alt="">
                    </ion-card>
                </div>
            </ion-col>

            <ion-col class="gencol">
                <div style="padding-top:3px;">
                    <ion-card class="genCard" [class.selectedGen]="selectedType=='FAMILY'" (click)="selectedType='FAMILY'">
                        <img [src]="selectedType=='FAMILY'?'assets/MariposaIcons/Family_white .svg':'assets/MariposaIcons/FamilyfriendsOutline.svg'" alt="">
                    </ion-card>
                </div>
            </ion-col>

        </ion-row>

        <ion-row style="margin-top: 5px;margin-bottom: 25px;">
            <ion-col class="gencol" size="3">

                <!-- <ion-text [class.selectedGentext]="gen=='M'"><h6 style="margin-top: 4px;font-size: 14px;line-height:17px;color:#7E7E7E;">Caregiver</h6></ion-text> -->
                <span style="margin-top: 0px;font-size: 14px;line-height:17px;color:#7E7E7E;padding-left: 0px;" [class.selectedGentext]="selectedType=='CAREGIVER'">Caregiver</span>
            </ion-col>
            <ion-col class="gencol">
                <span style="margin-top: 0px;font-size: 14px;line-height:17px;color:#7E7E7E;padding-left: 0px;" [class.selectedGentext]="selectedType=='FAMILY'">Family & Friends</span>
                <!-- <ion-text><h6 style="margin-top: 4px;font-size: 14px;line-height:17px;color:#7E7E7E;">Family & Friends</h6></ion-text> -->
            </ion-col>
        </ion-row>


        <!-- CHECKBOX -->
        <div *ngIf="selectedType=='CAREGIVER'">
            <ion-row style="align-items: center;">
                <ion-col size="1">
                    <div style="padding-left: 3px;">
                        <ion-checkbox mode="md" color="mwhite" [(ngModel)]="spouseAsCaregiver" (ionChange)="addCheckbox($event)">
                        </ion-checkbox>
                    </div>
                </ion-col>
                <ion-col size="11" style="padding-top: 0px;">
                    <div>
                        <ion-text style="font-size:16px;line-height:19px;font-weight:300;margin-left:5px" color="mdblack">Senior's spouse as caregiver</ion-text>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row style="align-items: center;margin-top:16px;margin-bottom: 24px;">
                <ion-col size="1">
                    <div style="padding-left: 3px;">
                        <ion-checkbox mode="md" [(ngModel)]="enterVitals" color="mwhite"></ion-checkbox>
                    </div>
                </ion-col>
                <ion-col size="11" style="padding-top: 0px;">
                    <div>
                        <ion-text style="font-size:16px;line-height:19px;font-weight:300;margin-left:5px" [class.disabledlabel]="spouseAsCaregiver" color="mdblack">Ability to enter vitals</ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <form [formGroup]="memberForm" (ngSubmit)="saveMember()">
            <div class="nametag" style="margin-top: 5px;">
                <ion-text position="floating" id="tag">Name</ion-text>
            </div>
            <div>
                <ion-input mode="md" class="input" placeholder="Enter full Name" formControlName="memberName"></ion-input>
                <ion-item class="warningitems" [hidden]="checkValidity(memberForm.controls.memberName)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" src="../assets/MariposaIcons/erroricon.svg"></ion-icon>
                    <ion-text>Invalid Name.</ion-text>
                </ion-item>
            </div>
            <div *ngIf="selectedType=='FAMILY'">
                <div class="nametag">
                    <ion-text position="floating" id="tag">Relation</ion-text>
                </div>
                <div>
                    <ion-select mode="ios" interface="popover" class="input" placeholder="Select Relation" formControlName="memberRelation">
                        <ion-select-option *ngFor="let relation of relationList" [value]="relation" for="memberRelation">{{relation}}</ion-select-option>

                    </ion-select>
                    <ion-item class="warningitems" [hidden]="checkValidity(memberForm.controls.memberRelation)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                        <ion-icon style="margin-right: 5px;" src="../assets/MariposaIcons/erroricon.svg"></ion-icon>
                        <ion-text>Select a relation.</ion-text>
                    </ion-item>
                </div>
            </div>

            <div class="nametag">
                <ion-text position="floating" id="tag">Email ID</ion-text>
            </div>
            <div>
                <ion-input mode="md" class="input" type="email" placeholder="Enter email" formControlName="memberEmail"></ion-input>
                <ion-item class="warningitems" [hidden]="checkValidity(memberForm.controls.memberEmail)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" src="../assets/MariposaIcons/erroricon.svg"></ion-icon>
                    <ion-text>Invalid Email.</ion-text>
                </ion-item>
            </div>

            <div class="nametag">
                <ion-text position="floating" id="tag">Mobile Number</ion-text>
            </div>
            <div class="">
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <!-- <ion-input mode="md" class="input" type="tel" placeholder="000" formControlName="memberMobileNumber"></ion-input> -->
                        <ion-col size="3">
                            <ion-input mode="md" class="input" type="tel" placeholder="000" formControlName="memberMobileNumber"></ion-input>

                        </ion-col>
                        <ion-col style="padding-left: 7px;" size="9">
                            <ion-input mode="md" class="input" type="tel" placeholder="000" formControlName="memberMobileNumber"></ion-input>

                        </ion-col>
                    </ion-row>
                </ion-grid>
                <!-- <ion-input mode="md" class="input" type="tel" placeholder="000" formControlName="memberMobileNumber"></ion-input> -->
                <ion-item class="warningitems" [hidden]="checkValidity(memberForm.controls.memberMobileNumber)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" src="../assets/MariposaIcons/erroricon.svg"></ion-icon>
                    <ion-text>Invalid Phone Number.</ion-text>
                </ion-item>

            </div>
            <!-- <div class=" right">
            <ion-input mode="md" class="input mob" type="tel" placeholder="000" formControlName="memberMobileNumber"></ion-input>
            <ion-item [hidden]="checkValidity(memberForm.controls.memberMobileNumber)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                <ion-text class=“warning”>Invalid Phone Number.</ion-text>
            </ion-item>
          </div>    -->
        </form>
        <div *ngIf="selectedType=='CAREGIVER'">
            <div class="shifttiming" [hidden]="spouseAsCaregiver" *ngFor="let item of shiftDetails;let i=index">
                <ng-container>
                    <ion-row>
                        <ion-col>
                            <ion-title class="infotag">Shift <span *ngIf="i>0">-{{i+1}}</span> Timings</ion-title>
                        </ion-col>
                        <ion-col>
                            <ion-icon [hidden]="true" class="pen" src="../assets/MariposaIcons/pen.svg"></ion-icon>
                        </ion-col>
                    </ion-row>

                    <ion-row class="timerow">
                        <ion-col size="6">
                            <p class="datelabel">Start Time</p>
                            <ion-button fill="outline" class="datebtn">
                                <ion-datetime displayFormat="hh:mm A" [(ngModel)]="item.startTime"></ion-datetime>
                                <ion-icon class="timeicon" src="assets/MariposaIcons/Timeicon.svg"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <p class="datelabel">End Time</p>
                            <ion-button fill="outline" class="datebtn right">
                                <ion-datetime displayFormat="hh:mm A" [(ngModel)]="item.endTime"></ion-datetime>
                                <ion-icon class="timeicon" src="assets/MariposaIcons/Timeicon.svg"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row class="daterow">
                        <ion-col size="6">
                            <p class="datelabel">Start Date</p>
                            <ion-button fill="outline" class="datebtn">
                                <ion-datetime [(ngModel)]="item.startDate" displayFormat="DD-MMM-YYYY"></ion-datetime>
                                <ion-icon slot="end" src="assets/MariposaIcons/Calendar icon.svg"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <p class="datelabel">End Date</p>
                            <ion-button fill="outline" class="datebtn right">
                                <ion-datetime [(ngModel)]="item.endDate" displayFormat="DD-MMM-YYYY"></ion-datetime>
                                <ion-icon slot="end" src="assets/MariposaIcons/Calendar icon.svg"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ng-container *ngIf="item.startDate!=item.endtDate">
                        <p class="datelabel top">Repeat</p>
                        <div class="chipdiv">
                            <ion-chip color="primary" mode="ios" outline="true" [class.selectedchip]="item.repeat.includes(day.value)" *ngFor="let day of daysList" (click)="addremoveDay(day,item.repeat)">
                                <ion-label>{{day.name}}</ion-label>
                            </ion-chip>
                        </div>
                    </ng-container>

                    <ion-button (click)="addtimeshift()" class="addbutton" fill="outline" shape="round">
                        <ion-icon class="plusbutton" slot="start" name="add-circle"></ion-icon>ADD SHIFT
                    </ion-button>
                </ng-container>
            </div>
        </div>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="!isKeyboardOpen">
    <div id="button">
        <ion-button (click)="saveMember()" [disabled]="false" class="btnblue" type="submit" id="signup">ADD</ion-button>
    </div>
</ion-footer>