<app-m-header-close title="Toileting"></app-m-header-close>

<ion-content *ngIf="formCreated" fullscreen>
    <ion-grid style="padding:24px;height:fit-content">
        <div [formGroup]="toiletingForm">
            <!-- <div *ngFor="let item of electronicList"> -->
            <app-toggle [value]="toiletingForm.controls.Toilet.value" name="Toilet"></app-toggle>
            <hr class="solid" />
            <app-toggle [value]="toiletingForm.controls.Commode.value" name="Commode"></app-toggle>
            <hr class="solid" />
            <!-- </div> -->
            <!-- INSTRUCTIONS -->
            <div class="nametag" style="margin-top: 0px;">
                <ion-text position="floating" id="tag">Instructions(optional)</ion-text>
            </div>
            <div>
                <ion-textarea formControlName="instructions" style="height: 120px;" class="input" placeholder="Write here"></ion-textarea>
            </div>
            <!-- ADD IMAGE -->
            <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>

        </div>
    </ion-grid>
</ion-content>

<ion-footer>
    <div id="button">
        <ion-button [disabled]="false" class="btnblue" type="submit" id="signup" (click)="save()">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>