
<app-m-header-close title="Add Meals"></app-m-header-close>

<ion-content [fullscreen]="true">
  <form [formGroup]="mealForm">
  <p class="listtitle">Meal Type</p>
  <ion-select mode="md" class="input" placeholder="Select" formControlName="mealType" (result)="setData($event,'mealType')">
    <ion-select-option *ngFor="let Option of mealData" value="{{Option.value}}" selected>{{Option.name}}</ion-select-option>
  </ion-select>
  
  <ion-grid fixed class="configurecaregrid">
    
    <m-selectdate (result)="addtime($event,'timeList')"></m-selectdate>
    
  </ion-grid>

  <p class="listtitle" style="margin-top: 16px;">Frequency</p>
  <ion-select mode="md" class="input" placeholder="Select" formControlName="frequency" (result)="setData($event,'frequency')">
    <ion-select-option *ngFor="let Option of frequencyData" value="{{Option.value}}" selected>{{Option.name}}</ion-select-option>
  </ion-select>

  <p class="listtitle" style="margin-top: 16px;">Favorite Breakfast</p>
  <ion-select mode="md" class="input" placeholder="Select" formControlName="favbreakfast" (result)="setData($event,'favbreakfast')">
    <ion-select-option *ngFor="let Option of breakfastData" value="{{Option.value}}" selected>{{Option.name}}</ion-select-option>
  </ion-select>
  
  

  <p class="label-text">Repeat</p>
  <div class="chipdiv">
    <ion-chip
      color="primary"
      mode="ios"
      outline="true"
      [class.selectedchip]="selectedDays.includes(day.value)"
      *ngFor="let day of daysList"
      (click)="addremoveDay(day)"
    >
      <ion-label>{{day.name}}</ion-label>
    </ion-chip>
    
  </div>
  
  

  <p class="label-text">Instructions (optional)</p>
  <ion-textarea
    rows="5"
    placeholder="Write here"
    formControlName="instructions"
  ></ion-textarea>
  <!-- ADD IMAGE -->
  <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      color="primary"
      expand="block"
      fill="solid"
      class="submitbtn"
      shape="round"
      (click)="submit()"
    >
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>
