<app-m-header-close title="Check Vitals"></app-m-header-close>

<ion-content fullscreen *ngIf="readyFlag" [formGroup]="checkVitalsForm">
    <ion-grid [formGroup]='checkVitalsForm' style="padding:24px;height:fit-content">

        <app-toggle [name]="'Senior can check their vitals'" [value]='checkVitalsForm.controls.seniorCheck.value' (result)="changeToggle('seniorCheck',$event)"></app-toggle>
        <hr class="solid" />
        <!-- INSTRUCTIONS -->

        <div class="nametag" style="margin-top: 0px;">
            <ion-text position="floating" id="tag">Instructions(optional)</ion-text>
        </div>
        <div>
            <ion-textarea formControlName='instructions' style="height: 120px;" class="input" placeholder="Write here"></ion-textarea>
        </div>

        <!-- ADD IMAGE -->
        <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>

    </ion-grid>
</ion-content>

<ion-footer>
    <div id="button">
        <ion-button [disabled]="false" class="btnblue" type="submit" id="signup" (click)="save()">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>