ion-img{
    align-self: center;
    max-width: 67%;
    height: auto;
    margin-left:20%;
   
     

}

.btnwhite1{

    --color:#4137FF;
    --background:#ffffff;
    --border-radius: 8px; 
    --border-color:#4137FF;
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    font-weight: 600;
    width: 209px;
    height: 44px;
    --box-shadow: none;
    
    
    
   }