<app-m-header-close title="FAQs"></app-m-header-close>

<ion-content>
    <ion-grid class="content">
        <div *ngFor="let items of faqlist;index as i">
            <ion-card (click)="show(items) " class="questions" [ngStyle]="{'border-color' : items.color}">
                <ion-text>{{items.question}}</ion-text>
                <div *ngIf="items.show">
                    <p class="para">{{items.answer}}</p>
                </div>
            </ion-card>
        </div>

    </ion-grid>
</ion-content>