<ion-header>
  <ion-toolbar>
    <!-- <ng-template #ionsegment> -->
    <ion-segment
      value="addvitals"
      mode="ios"
      style="margin-top: 40px"
      *ngIf="userInfo&&userInfo.type=='senior'"
      [(ngModel)]="segmentVar"
    >
      <ion-segment-button value="addvitals"> Add Vitals </ion-segment-button>
      <ion-segment-button value="reports"> Reports </ion-segment-button>
    </ion-segment>
    <!-- </ng-template> -->
    <div
      class="hdcontent"
      style="display: flex"
      *ngIf="userInfo&&userInfo.type=='admin'"
    >
      <img src="assets/MariposaIcons/micon.svg" alt="" />
      <ion-title mode="md" class="title-text vitaltext" (click)="toggleData()">
        Vital Reports
      </ion-title>
    </div>
    <ion-buttons mode="md" slot="end">
      <ion-button [routerLink]="'/notifications'">
        <ion-icon
          mode="md"
          src="assets/MariposaIcons/notification.svg"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <ion-icon
          class="propic"
          mode="md"
          src="assets/MariposaIcons/profile_img.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  class="pagebckd"
  *ngIf="userInfo.type=='admin'|| segmentVar=='reports'"
>
  <!-- <ng-container *ngIf="!showData">
    <ion-card class="reportcard">
    
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">Pulse</span>
          </ion-col>
          <ion-col size="6"><span class="timesec">--/--</span></ion-col>
          <ion-col size="12">
            <p class="nodatatxt">No data</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">Respiration</span>
          </ion-col>
          <ion-col size="6"><span class="timesec">--/--</span></ion-col>
          <ion-col size="12">
            <p class="nodatatxt">No data</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container> -->

  <!-- Blood Pressure -->

  <ng-container *ngIf="chartCardData.bloodpressure.hasValue; else bpnull">
    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">{{chartCardData.bloodpressure.title}}</span>
          </ion-col>
          <ion-col size="6"><span class="timesec">110/60</span></ion-col>
          <ion-col size="12">
            <!-- <p class="nodatatxt">No data</p> -->
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [plotOptions]="chartOptions.plotOptions"
              [yaxis]="chartOptions.yaxis"
              [fill]="chartOptions.fill"
              [legend]="chartOptions.legend"
              [grid]="chartOptions.grid"
            ></apx-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>

  <ng-template #bpnull>
    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">Blood Pressure</span>
          </ion-col>
          <ion-col size="6"><span class="timesec">--/--</span></ion-col>
          <ion-col size="12">
            <p class="nodatatxt">No data</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-template>

  <!-- Pulse -->

  <ng-container *ngIf="chartCardData.temparature.hasValue; else tempnull">
    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">{{chartCardData.temparature.title}}</span>
          </ion-col>
          <ion-col size="6"
            ><span class="timesec"
              >{{chartCardData.temparature.value}}</span
            ></ion-col
          >
          <ion-col size="12">
            <apx-chart
              [series]="chartOptions5.series"
              [chart]="chartOptions5.chart"
              [xaxis]="chartOptions5.xaxis"
              [stroke]="chartOptions5.stroke"
              [dataLabels]="chartOptions5.dataLabels"
              [yaxis]="yaxisTemp"
              [labels]="chartOptions5.labels"
              [legend]="chartOptions5.legend"
              [fill]="chartOptions5.fill"
            ></apx-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
  <ng-template #tempnull>
    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">{{chartCardData.temparature.title}}</span>
          </ion-col>
          <ion-col size="6"><span class="timesec">--/--</span></ion-col>
          <ion-col size="12">
            <p class="nodatatxt">No data</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-template>

  <!-- End Temperature -->
  <!-- Pulse -->

  <ng-container *ngIf="chartCardData.pulse.hasValue; else pulsenull">
    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">{{chartCardData.pulse.title}}</span>
          </ion-col>
          <ion-col size="6"
            ><span class="timesec">{{chartCardData.pulse.value}}</span></ion-col
          >
          <ion-col size="12">
            <apx-chart
              [series]="chartOptions5.series"
              [chart]="chartOptions5.chart"
              [xaxis]="chartOptions5.xaxis"
              [stroke]="strokepulse"
              [dataLabels]="chartOptions5.dataLabels"
              [yaxis]="yaxisPulse"
              [labels]="chartOptions5.labels"
              [legend]="chartOptions5.legend"
              [fill]="fillpulse"
            ></apx-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
  <ng-template #pulsenull>
    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">{{chartCardData.pulse.title}}</span>
          </ion-col>
          <ion-col size="6"><span class="timesec">--/--</span></ion-col>
          <ion-col size="12">
            <p class="nodatatxt">No data</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-template>

  <!-- End Pulse -->

  <!-- Blood Glucose -->

  <ng-container
    *ngIf="chartCardData.bloodglucose.hasValue; else bloodglucosenull"
  >
    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">{{chartCardData.bloodglucose.title}}</span>
          </ion-col>
          <ion-col size="6"
            ><span class="timesec"
              >{{chartCardData.bloodglucose.value}}</span
            ></ion-col
          >
          <ion-col size="12">
            <apx-chart
              [series]="chartOptions5.series"
              [chart]="chartOptions5.chart"
              [xaxis]="chartOptions5.xaxis"
              [stroke]="strokebg"
              [dataLabels]="chartOptions5.dataLabels"
              [yaxis]="yaxisBloodGlucose"
              [labels]="chartOptions5.labels"
              [legend]="chartOptions5.legend"
              [fill]="fillbg"
            ></apx-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
  <ng-template #bloodglucosenull>
    <ion-card class="reportcard">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6">
            <span class="cardhead">{{chartCardData.bloodglucose.title}}</span>
          </ion-col>
          <ion-col size="6"><span class="timesec">--/--</span></ion-col>
          <ion-col size="12">
            <p class="nodatatxt">No data</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-template>

  <!-- End Blood Glucose -->
</ion-content>
<ion-content
  class="pagebckd"
  *ngIf="userInfo.type=='senior'&& segmentVar=='addvitals'"
>
  <ion-card class="cardstyle" *ngFor="let item of vitalCards">
    <ion-row>
      <ion-col size="6">
        <p class="name">{{item.name}}</p>
      </ion-col>
      <ion-col class="adddata" size="6" *ngIf="!item.value">
        <p (click)="gotoModel(item)">ADD DATA</p>
      </ion-col>
      <ion-col size="6" class="valuecol" *ngIf="item.value.length>0">
        <div class="valueitem">{{item.value}}</div>
        <div class="unititem">{{item.unit}}</div>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- <ion-card class="cardstyle">
    <ion-row>
      <ion-col size="6">
        <p class="name">Pulse</p>
      </ion-col>
      <ion-col class="adddata" size="6">
        <p>ADD DATA</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="cardstyle">
    <ion-row>
      <ion-col size="6">
        <p class="name">Respitory Rate</p>
      </ion-col>
      <ion-col class="adddata" size="6">
        <p>ADD DATA</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="cardstyle">
    <ion-row>
      <ion-col size="6">
        <p class="name">Temperature</p>
      </ion-col>
      <ion-col class="adddata" size="6">
        <p>ADD DATA</p>
      </ion-col>
    </ion-row>
  </ion-card> -->
</ion-content>
