<app-m-header-close title="Oral Care"></app-m-header-close>

<ion-content fullscreen [formGroup]="oralForm">
    <ion-grid style="padding:24px;height:fit-content">

        <div class="nametag" style="padding-top: 0px;">
            <ion-text position="floating" id="tag">Preferred tooth Paste</ion-text>
        </div>
        <div style="margin-bottom:24px;">
            <ion-select formControlName="toothpaste" mode="ios" interface="popover" class="input" placeholder="Select">
                <ion-select-option [value]="option" *ngFor="let option of toothpasteOptions">{{option}}</ion-select-option>
            </ion-select>
        </div>

        <app-toggle [name]="'Senior has Tooth Sensitivity'" [value]="oralForm.controls.toothSensitivity.value" (result)="changeToggle($event)"></app-toggle>
        <hr class="solid" />

        <!-- INSTRUCTIONS -->

        <div class="nametag" style="margin-top: 0px;">
            <ion-text position="floating" id="tag">Instructions(optional)</ion-text>
        </div>
        <div>
            <ion-textarea formControlName="instructions" style="height: 120px;" class="input" placeholder="Write here"></ion-textarea>
        </div>

        <!-- ADD IMAGE -->
        <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>

    </ion-grid>
</ion-content>

<ion-footer>
    <div id="button">
        <ion-button [disabled]="false" class="btnblue" type="submit" (click)="save()" id="signup">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>