<app-m-header-close title="Gardening"></app-m-header-close>

<ion-content fullscreen>
    <ion-grid style="padding:24px;height:fit-content">

        <div class="nametag" style="padding-top: 0px;">
            <ion-text position="floating" id="tag">Frequency</ion-text>
        </div>
        <div>
            <ion-select mode="md" class="input" placeholder="Select" [(ngModel)]="formData.frequency">
                <ion-select-option *ngFor="let Option of gardeningList" value="{{Option}}" selected>{{Option}}</ion-select-option>
            </ion-select>
        </div>

        <!-- INSTRUCTIONS -->

        <div class="nametag" style="margin-top: 16px;">
            <ion-text position="floating" id="tag">Instructions(optional)</ion-text>
        </div>
        <div>
            <ion-textarea [(ngModel)]="formData.instructions" style="height: 120px;" class="input" placeholder="Write here"></ion-textarea>
        </div>

        <!-- ADD IMAGE -->
        <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>

    </ion-grid>
</ion-content>

<ion-footer>
    <div id="button">
        <ion-button [disabled]="false" class="btnblue" type="submit" id="signup" (click)="save()">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>