.headertext {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: #1A1A1A;
}

.tags {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #7E7E7E
}

.details {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.togglediv {
    margin-top: 19px;
    margin-bottom: 11px;
}

.togglediv1 {
    margin-top: 11px;
    margin-bottom: 11px;
}

.togglediv2 {
    margin-top: 11px;
    margin-bottom: 11px;
    padding-top: 0px;
}

hr.solid {
    border-top: 1px solid #e5e5e5;
    margin-top: 11px;
    margin-bottom: 0px;
}