<ion-content>
    <ion-grid>
        <ion-img style="margin-bottom:40px;" src="../assets/icon/passwordResetSuccess.png"></ion-img>

        <div style="text-align: center;">
            <ion-text>
                <h5 style="font-weight:bold;font-size:20px;">Check Your Email</h5>
            </ion-text>
        </div>

        <div>
            <ion-text>
                <h6 style="text-align:center;font-size:13px;font-weight: 300;margin-top:0px ;">We've sent you a reset password link on your registered email address</h6>
            </ion-text>
            <!-- <ion-text>
                <h6 style="text-align:center;font-size:13px;font-weight: 300;margin-top:0px ;">We've sent you a reset password link on your registered email address</h6>
            </ion-text> -->
        </div>

        <div id="button">
            <ion-button [disabled]="false" class="btnblue" id="signup" routerLink="/admin-sign-in">CONTINUE</ion-button>
        </div>
    </ion-grid>
</ion-content>