<app-m-header-close title="Comments">
</app-m-header-close>

<ion-content>
    <ion-slides *ngIf="imageList.length" pager="true" [options]="slideOpts" class="bookslider">
        <ion-slide *ngFor="let image of imageList">
            <img [src]="image" alt="" />
        </ion-slide>
    </ion-slides>
    <div class="activitydiv">
        <p class="activitytxt">Activities on {{postDate | date: "dd-MM-yyyy"}}</p>
    </div>
    <div class="activitydescriptiondiv">
        <p class="activitydescription">
            {{notes}}
        </p>
    </div>
    <div class="activitynotediv">
        <p class="activitynote">
            Notes: {{notes}}
        </p>
    </div>

    <div class="ion-no-padding">
        <hr />
    </div>

    <ion-grid class="commentgrid">
        <div class="commentdiv">
            <ion-text class="commentheader">Comments</ion-text>
        </div>
        <div *ngFor="let comment of chatmessages">
            <ion-row>
                <ion-col size=1.8>
                    <ion-img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"></ion-img>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-text class="username">{{comment.userName}} </ion-text>
                        <ion-text *ngIf="comment.time" class="time"> {{comment.time | date: 'd-MM-yy h:mm a'}}</ion-text>
                    </div>
                    <div style="margin-top: 4px;">
                        <ion-text class="chatmsg">{{comment.comment}}</ion-text>
                    </div>
                </ion-col>
            </ion-row>
            <hr class="solid">
        </div>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar class="postcomment">
        <ion-grid class=chatinputgrid>
            <ion-row>
                <ion-col size="9">
                    <ion-input [(ngModel)]="commentText" placeholder="Comment as {{username}}..."></ion-input>
                </ion-col>
                <ion-col size="3">
                    <ion-button (click)="addComment()" style="float: right;" class="post">POST</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>