<ion-content>
    <ion-grid class="backbuttongrid"> 
        <ion-toolbar style="height: 40px;">
            <ion-buttons slot="start">
                <m-backbutton></m-backbutton>
            </ion-buttons>
        </ion-toolbar>
    </ion-grid> 
    <ion-grid>  
        <ion-text>
            <h5 style="margin-top:24px;margin-bottom:0px"><b>Forgot Password?</b></h5>
        </ion-text>
        <ion-text>
            <h6 style="margin-top: 24px; font-weight: 500;">Don't worry</h6>
        </ion-text>
        <ion-text>
            <h6 style="font-weight: normal;">We will send you an email with instruction on how <br>to reset your password.</h6>
        </ion-text>
        <ion-text>
            <h6 style="font-weight: normal;">Enter your registered email ID.</h6>
        </ion-text>
        <div style="margin-top: 27px;">
            <ion-text class="nametag" position="floating" id="tag">Email ID</ion-text>
        </div>
        <form flex [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div style="padding-top: 8px;;">
                <ion-input formControlName="email" mode="md" class="input" type="email" placeholder="Enter Email ID"></ion-input>
                <ion-item [hidden]="!resetResult" lines="none" style="margin-top:-5px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                    <ion-text style="color:red;font-size:14px" class=“warning”>This email id is not registered.</ion-text>
                </ion-item>
                <ion-item [hidden]="checkValidity(forgotPasswordFormControl.email)" lines="none" style="margin-top:-5px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                    <ion-text class="warning">Invalid email Id.</ion-text>
                </ion-item>
            </div>
            <div id="button">
                <ion-button type="submit" class="btnblue" [disabled]="forgotPasswordForm.invalid" expand="block">SEND EMAIL</ion-button>
            </div>
        </form>
    </ion-grid>
</ion-content>