.activitytxt {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0;

  color: #7e7e7e;
}
ion-slide {
  padding-bottom: 26px;
}

.activitydiv {
  padding: 0 0 0 24px;
  margin: 0 !important;
}
.activitydescriptiondiv {
  padding: 0px 24px 0px 24px;
}
.activitydescription {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  margin: 0;
  padding-top: 8px;
}

.activitynotediv {
  padding: 0px 24px 0px 24px;
}

.activitynote {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1a1a1a;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.hdingdiv {
  padding: 0px 24px 0px 24px;
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #7e7e7e;
    margin: 0;
    padding-top: 9px;
  }
}

.reportdiv {
  padding: 9px 24px 8px 24px;
  p {
    margin: 0;
    padding: 3px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: #1a1a1a;
    padding: 0;
    .spn1 {
      padding-left: 41px;
    }
    .spn2 {
      padding-left: 58px;
    }
    .spn3 {
      padding-left: 72px;
    }
    .spn4 {
      padding-left: 68px;
    }
  }
}

.medicindetdiv {
  padding: 8px 24px 0px 24px;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1a1a1a;
    margin: 0;
  }
}
hr {
  height: 1px;
  border-width: 0;
  box-sizing: content-box;
  /* background: aquamarine; */
  background: #e0e0e0;
  margin: 8px 24px;
}
ion-title {
  padding-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #1a1a1a;
}
