<ion-content>
    <ion-grid>
        <ion-img src="../assets/icon/passwordResetSuccess.png"></ion-img>

        <div style="text-align: center;">
            <ion-text color="primary">
                <h5 style="font-weight:bold;font-size:13px;">Password Changed</h5>
            </ion-text>
        </div>

        <div>
            <ion-text>
                <h6 style="text-align:center;font-size:13px;font-weight: 300;margin-top:0px ;">Your Password Reset is successfully completed</h6>
            </ion-text>
        </div>

        <div id="button">
            <ion-button [disabled]="false" class="btnblue" id="signup" routerLink="/admin-sign-in">CONTINUE</ion-button>
        </div>


    </ion-grid>
</ion-content>