<ion-header mode="md">
    <ion-toolbar class="headtoolbar">
        <ion-buttons class="backbutton" slot="start">
            <m-backbutton></m-backbutton>
        </ion-buttons>
        <ion-title class="name" color="mdblack" position="floating" id="titletag">Edit Members</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="padding-top:14px;padding-left: 6px;padding-right: 6px;">

        <ion-card class="cardinfo">

            <ion-row>
                <ion-col id="infolabel">
                    <ion-text><b>David Doe,</b> Father</ion-text>
                    <ion-text id="email"><br>daviddoefather@gmail.com</ion-text>
                </ion-col>
                <ion-col class="pen">
                    <ion-buttons>
                        <ion-button>
                            <ion-icon slot="icon-only" src="assets/MariposaIcons/pen.svg"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
            <ion-row [hidden]="true">
                <ion-text class="assesstime">Assessment Completed on: 12 May 2020</ion-text>
            </ion-row>
            <ion-row>
                <ion-col style="padding-bottom: 0px;">
                    <ion-button class="assessment" [routerLink]="'/assessment/careneeds'">START ASSESSMENT</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [hidden]="false" style="padding-bottom: 0px;">
                    <ion-button class="pending">
                        <ion-icon slot="icon-only" src="assets/MariposaIcons/Error.svg"></ion-icon>
                        Invitation Pending
                    </ion-button>
                </ion-col>
                <ion-col style="padding-bottom: 0px;">
                    <ion-chip color="mmgrey" outline style="float:right;border-radius: 8px;">
                        <ion-label>SENIOR</ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>

        </ion-card>

        <ion-card class="cardinfo">

            <ion-row>
                <ion-col id="infolabel">
                    <ion-text><b>John Doe</b> Father</ion-text>
                    <ion-text id="email"><br>john.doe@gmail.com</ion-text>
                </ion-col>
                <ion-col class="pen">
                    <ion-buttons>
                        <ion-button>
                            <ion-icon slot="icon-only" src="assets/MariposaIcons/pen.svg"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col style="padding: 0px;">
                    <ion-chip color="mmgrey" outline style="float:right;border-radius: 8px;">
                        <ion-label color="mdgrey">ADMIN</ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>

        </ion-card>
    </ion-grid>

    <ion-grid>
        <div id="button">
            <ion-button type="submit" [routerLink]="'/carecircle/addmembers'" class="btnwhite" expand="block">ADD MEMBERS</ion-button>
        </div>
    </ion-grid>
</ion-content>