.hdbuttn{
    font-size: 25px;
}

.slctclr{
    --background:
    #E5E5E5;
}

.notfndtl{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #1A1A1A;
padding-top: 13px;

}

p{
    margin: 0;
}
.notfntime{
    padding: 8px 0px 26px 0px;
}
ion-list-header{
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Direct Black */

color: #1A1A1A;
}