<app-m-header-close title="Companionship"></app-m-header-close>

<ion-content [formGroup]="companionshipForm" fullscreen>

    <ion-grid style="padding:24px;height:fit-content">
        <!-- FAVORITE ACTIVITIES -->

        <div style="padding-top: 0px; margin-bottom: 15px;">
            <ion-label style="font-size: 16px; line-height: 19px;">Favorite Activities</ion-label>
        </div>

        <!-- CHECKBOX 1 -->

        <ion-row style="align-items: center; margin-top: 5px;" *ngFor="let favItem of favItemList">
            <ion-col size="1">
                <div style="padding-left: 3px;">
                    <ion-checkbox #favItem color="mwhite" checked="false" [formControlName]="favItem"></ion-checkbox>
                </div>
            </ion-col>
            <ion-col (click)="generateClick(favItem)" size="11" style="padding-top: 0px;">
                <div>
                    <ion-text style="
              font-size: 16px;
              line-height: 19px;
              font-weight: 300;
              margin-left: 12px;
            " color="mdblack">{{favItem}}</ion-text>
                </div>
            </ion-col>
        </ion-row>

        <!-- INSTRUCTIONS -->

        <div class="nametag" style="margin-top: 15px;">
            <ion-text position="floating" id="tag">Instructions(optional)</ion-text>
        </div>
        <div>
            <ion-textarea style="height: 120px;" class="input" placeholder="Write here" *ngIf="favItemList" formControlName="instructions"></ion-textarea>
        </div>

        <!-- ADD IMAGE -->
        <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>

    </ion-grid>
</ion-content>

<ion-footer>
    <div id="button">
        <ion-button [disabled]="false" class="btnblue" type="submit" id="signup" (click)="save()">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>