ion-item {
  border: solid;
  border-color: #B8B8B8;
  border-radius: 8px;
  border-width: thin;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-style: normal;
  height: 44px;
}
.placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;

  color: #7e7e7e;
}
ion-icon {
  color: #7e7e7e;
  font-size: 24px;
}
