<app-m-header-close title="Medication Management"></app-m-header-close>

<ion-content fullscreen>
    <ion-grid style="padding: 24px; height: fit-content; margin-bottom: 80px;">


        <!-- KNOWN ALLEGRIES -->

        <ion-row class="favoritemeal">
            <ion-col>
                <ion-text class="text">Known Allergies</ion-text>
            </ion-col>
            <ion-col>
                <ion-text [routerLink]="'/assessment/addallergy'" class="add">ADD</ion-text>
            </ion-col>
        </ion-row>
        <hr class="solid">
        <div class="favoriteitemslist" (click)="editAllergy(item, 'allergy', i)" *ngFor="let item of formData.allergy; let i = index">
            <ion-row class="favoriteitem">
                <ion-col size="10">
                    <ion-row>
                        <ion-col>
                            <ion-text class="itemname cap">{{item.name}}</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text class="itemtype cap">{{item.medicineType}}</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-icon class="arrow" src="../assets/MariposaIcons/arrowgrey.svg"></ion-icon>
                </ion-col>
            </ion-row>
            <hr class="solid">
        </div>

        <!-- MEDICATION LIST -->



        <ion-row class="favoritemeal">
            <ion-col>
                <ion-text class="text">Medication list</ion-text>
            </ion-col>
            <ion-col>
                <ion-text routerLink="/assessment/addMedication" class="add">ADD</ion-text>
            </ion-col>
        </ion-row>
        <hr class="solid">

        <div class="favoriteitemslist" (click)="editMedication(item, 'medication', i)" *ngFor="let item of formData.medication; let i = index">
            <ion-row class="favoriteitem">
                <ion-col size="10">
                    <ion-row>
                        <ion-col>
                            <ion-text class="itemname cap">{{item.name}}</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text class="itemtype cap">{{item.medicineType}}</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-icon class="arrow" src="../assets/MariposaIcons/arrowgrey.svg"></ion-icon>
                </ion-col>
            </ion-row>
            <hr class="solid">
        </div>


        <app-toggle [name]="'Diabetic'" [value]="formData.Diabetic" (result)="changeToggle('Diabetic',$event)"></app-toggle>
        <hr style="margin-bottom: 7px;" class="solid" />

        <app-toggle [name]="'Need Medication Reminders'" [value]="formData.medicationReminders" (result)="changeToggle('medicationReminders', $event)"></app-toggle>
        <hr style="margin-bottom: 7px;" class="solid" />

        <app-toggle [name]="'Medication/Supplements set up in a pill box'" [value]="formData.supplements" (result)="changeToggle('supplements', $event)"></app-toggle>
        <hr style="margin-bottom: 7px;" class="solid" />

        <!-- WHO MANAGES MEDICATION -->

        <div class="nametag">
            <ion-text position="floating" id="tag">Who manages medications/supplements</ion-text>
        </div>
        <div>
            <ion-input [(ngModel)]="formData.managedBy" mode="md" class="input" placeholder="Enter name / relation"></ion-input>
        </div>


        <!-- INSTRUCTIONS -->

        <div class="nametag">
            <ion-text position="floating" id="tag">Instructions(optional)</ion-text>
        </div>
        <div>
            <ion-textarea [(ngModel)]="formData.instructions" rows="7" style="min-height: 120px;height: auto;" class="input" placeholder="Write here"></ion-textarea>
        </div>

    </ion-grid>
</ion-content>

<ion-footer>
    <div id="button">
        <ion-button [disabled]="false" class="btnblue" type="submit" (click)="save()" id="signup">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>