
  

  #button{
    
    height: 76px;
    
    background-color:white;
     left : 0px;
    bottom:0px;
    position: fixed;
    box-shadow: 0px -2px 8px rgba(65, 55, 255, 0.08);
    z-index: 2;
    padding:0px;
}

.btn1{

    --color:#4137FF;
    --background:#ffffff;
    --border-radius: 8px; 
    --border-color:#4137FF;
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    font-weight: 600;
    --box-shadow: none;
    

    height:44px;
    width:77%;
    margin-top: 11px;
    margin-left: 24px;
}

.btn2{

    outline:none;
    border-radius: 8px;
    color: white;
    
    
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    font-weight: 600;
    --box-shadow: none;
   

    height: 44px;
    width: 86%;
    margin-top: 11px;
    margin-left: 10px;
}

.addbutton {
    --border-radius: 8px;
    margin-top: 16px;
    padding-top: 0;
    padding-bottom:4px;
    --border: 1px solid #4137ff;
    width: 120px;
    height:44px;
    --border-width:thin;
  }

  .plusbutton{

    height: 24px;
    width: 24px;
    zoom:1;
  }

  .input{
    margin-top: 8px;
  }

  .margin{
    margin-top: 16px;
  }

 .favoritemeal{

  align-items: center;
  padding: 0px;
  margin: 0px;

  ion-col{
    padding: 0px;
    margin: 0px;
  }

  .text{
    font-size: 14px;
    line-height: 17px;
    color:#1A1A1A;
    float: left;
  }

  .add{
    font-weight: 600;
    font-size:14px;
    line-height: 17px;
    color:#4137FF;
    text-transform: uppercase;
    float: right;
  }

 } 
  
 .solid{
   margin-bottom: 24px;
 }

 .favoriteitemslist{

    margin-top: 16px;

    ion-row{
      align-items: center;
      padding: 0px;
      margin: 0px;
    }

    ion-col{
      padding: 0px;
      margin: 0px;
    }

    ion-icon{
      zoom: 1;
      height: 24px;
      width:24px;
      float: right;
    }

    .itemname{
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #1A1A1A;
    }

    .itemtype{
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color:#7E7E7E;
    }

    .solid{
      margin-top: 12px;
      margin-bottom: 12px;
    }
 }
  