<app-m-header-close title="Cooking/Meals Preperation"></app-m-header-close>

<ion-content fullscreen>
    <ion-grid style="padding: 24px; height: fit-content; margin-bottom: 80px;">
        <!-- ASSISTANCES-->

        <div style="padding-top: 0px; margin-bottom: 15px;">
            <ion-label style="font-size: 16px; line-height: 19px;">Assistance</ion-label>
        </div>

        <!-- CHECKBOX 1 -->

        <ion-row style="align-items: center; margin-top: 5px;" *ngFor="let list of shoppingAssistance">
            <ion-col size="1">
                <div style="padding-left: 3px;">
                    <ion-checkbox #list mode="md" color="mwhite" checked="false" [(ngModel)]="formData.assistance[list]"></ion-checkbox>
                </div>
            </ion-col>
            <ion-col (click)="generateClick(list)" size="11" style="padding-top: 0px;">
                <div>
                    <ion-text style="
              font-size: 16px;
              line-height: 19px;
              font-weight: 300;
              margin-left: 12px;
            " color="mdblack">{{list}}</ion-text>
                </div>
            </ion-col>
        </ion-row>

        <hr style="margin-bottom: 7px;" class="solid" />

        <!-- Special Diet -->

        <!-- <ion-row style="align-items: center;">
      <ion-col size="8">
        <ion-text
          (click)="generateClick(specialdiet)"
          style="font-size: 16px; line-height: 19px; font-weight: 300;"
          >Special Diet</ion-text
        >
      </ion-col>
      <ion-col>
        <ion-text
          style="
            font-size: 16px;
            line-height: 19px;
            font-weight: normal;
            float: right;
            margin-right: 12px;
          "
          ><span *ngIf="specialdiet.checked">YES</span
          ><span *ngIf="!specialdiet.checked">NO</span></ion-text
        >
      </ion-col>
      <ion-col>
        <ion-toggle
          mode="ios"
          checked
          color="primary"
          style="float: right;"
          #specialdiet
        ></ion-toggle>
      </ion-col>
    </ion-row> -->
        <app-toggle [name]="'Special Diet'" [value]="formData.specialDiet" (result)="changeToggle('specialDiet',$event)"></app-toggle>
        <hr class="solid" />

        <!-- FAV MEAL -->

        <ion-row class="favoritemeal">
            <ion-col>
                <ion-text class="text">Favorite Meal</ion-text>
            </ion-col>
            <ion-col>
                <ion-text class="add" (click)="addMeal()">ADD</ion-text>
            </ion-col>
        </ion-row>

        <div class="favoriteitemslist" *ngFor="let item of recipebook; let i = index">
            <ion-row class="favoriteitem" (click)="editMeal(item, item.mealType, i)">
                <ion-col size="10">
                    <ion-row>
                        <ion-col>
                            <ion-text class="itemname cap">{{item.name}}</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text class="itemtype cap">{{item.mealType}}</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-icon class="arrow" src="../assets/MariposaIcons/arrowgrey.svg"></ion-icon>
                </ion-col>
            </ion-row>
            <hr class="solid">
        </div>


    </ion-grid>
</ion-content>

<ion-footer>
    <div id="button">
        <ion-button [disabled]="false" class="btnblue" type="submit" id="signup" (click)="save()">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>