.backbuttongrid{
    padding-left:12px;
    padding-top:28px;
}

ion-img{
    align-self: center;
    max-width: 50%;
    height: auto;
    margin-left:25%;
    margin-top:25%;
    padding-top:30px ;  
}

.checkmail{

    font-weight: bold;
    font-size:20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color:#1A1A1A;
}

.text{

    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color:#1A1A1A;
    font-weight: normal;
}

.emailnew{
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color:#7E7E7E;
}