<ion-header mode="md">
  <ion-toolbar class="headtoolbar">
      <ion-row style="align-items: center ;"> 
        <ion-col size="2">
          <ion-toolbar>
            <ion-buttons slot="start">
              <m-backbutton></m-backbutton>
            </ion-buttons>
        </ion-toolbar> 
        </ion-col>
        <ion-col size="8">
          <div>
            <ion-text color="mdblack" position="floating" id="titletag">Notifications Settings</ion-text>
          </div> 
        </ion-col> 
      </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="content">

      <div *ngFor="let item of toggleList">
        <app-pushtoggle
        [name] = "item.label"
        ></app-pushtoggle>
        <hr class="solid">
      </div>
     
    
    
      
    
 

  </ion-grid>
  <ion-grid>
    <div id="button">
        <ion-button type="submit" class="btnblue" expand="block">SAVE </ion-button>
    </div>
</ion-grid>


</ion-content>
