<app-m-header-close title="Add Activity">
</app-m-header-close>

<ion-content [fullscreen]="true">
    <ion-grid class="contentgrid" [formGroup]="activityForm">

        <p class="listtitle">Select Activity</p>
        <ion-select mode="ios" formControlName="type" interface="popover" class="input" placeholder="Select">
            <ion-select-option [value]="item.key" *ngFor="let item of activityList">{{item.name}}</ion-select-option>
        </ion-select>

        <p class="listtitle" style="margin-top: 29px;">Select Date</p>
        <ion-button fill="outline" class="datebtn" expand="block" (click)="datepicker.open()">
            <ion-datetime #datepicker formControlName="date" displayFormat="DD-MMM-YYYY" [value]="currentDate" [min]="min"></ion-datetime>
            <ion-icon slot="end" src="assets/MariposaIcons/Calendar icon.svg"></ion-icon>
        </ion-button>

        <ion-grid fixed class="configurecaregrid">
            <m-selectdate [times]="timeList" single="true" (result)="addtime($event,'timeList')"></m-selectdate>
        </ion-grid>

        <p class="listtitle" style="margin-top: 24px;">Assign to</p>
        <ion-select formControlName="assignedTo" mode="ios" [compareWith]="compareFn" interface="popover" class="input" placeholder="Assigned To">
            <ion-select-option [value]="item" *ngFor="let item of careCircleDetails">{{item.assigned.userName}}</ion-select-option>
        </ion-select>

        <p class="label-text">Notes</p>
        <ion-textarea rows="5" formControlName="instructions" placeholder="Add notes about appointment"></ion-textarea>

        <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>


    </ion-grid>
</ion-content>

<ion-footer [formGroup]="activityForm">
    <ion-toolbar>
        <ion-button [disabled]="activityForm.invalid" color="primary" expand="block" fill="solid" class="submitbtn" (click)="save()" shape="round">ADD</ion-button>
    </ion-toolbar>
</ion-footer>