ion-content{
    --background:#E5E5E5;
}

ion-content {
    --padding-bottom: 24px;
    --padding-end: 24px;
    --padding-start: 24px;
    --padding-top: 24px;
  }

  .datetimebtn{
    width: 154px;
    height: 44px;
    border-radius: 8px;
    margin-top: 8px;
  }
  p{
      margin: 0px;
  }

  .input{
    width: 327px;
    height: 44px;
  }

  .input2{
    width: 327px !important;
    height: 120px !important;
  }

  
