<app-m-header-close title="Motivations"></app-m-header-close>

<ion-content fullscreen>
    <ion-grid style="padding:24px;height:fit-content;margin-bottom:48px">

        <!-- MOTIVATION -->

        <div style="padding-top:0px;margin-bottom:15px;">
            <ion-label style="font-size: 16px;line-height: 19px;">Select {{careCircleName}}'s motivations</ion-label>
        </div>

        <!-- CHECKBOX 1 -->

        <ion-row style="align-items: center;margin-top:5px;" *ngFor="let option of motivationList">
            <ion-col size="1">
                <div style="padding-left: 3px;">
                    <ion-checkbox mode="md" [(ngModel)]="motivationForm[option]" color="mwhite"></ion-checkbox>
                </div>
            </ion-col>
            <ion-col size="11" style="padding-top: 0px;">
                <div>
                    <ion-text (click)="generateClick(option)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">{{option}}</ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<ion-footer>
    <ion-grid style="padding-left: 24px;padding-right: 24px;padding-top: 16px;padding-bottom: 16px;">
        <!-- BUTTON -->
        <div id="button">
            <ion-row style="align-items: center;">
                <ion-col size="4">
                    <ion-button class="btn1" [disabled]="false" type="submit" id="signup">PREVIEW</ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-button class="btn2" [disabled]="false" type="submit" (click)="save()" id="signup">SAVE AND PROCEED</ion-button>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-footer>