.content{
    padding: 52px 24px 24px 24px;
}

.headertext{
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-style: normal;
    color: #333333;
}

.top1{
    margin-top: 8px;
}

.gencol{
    display: flex;
    span{
      font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
    // padding-top: 22px;
  /* identical to box height */
  align-self: center;
  padding-left: 11px;
  
    }
  }

  .genCard {
    background: #ffffff;
    /* Medium Grey */
  
   //border: 1px solid #b8b8b8;
    box-sizing: border-box;
    border-radius: 8px;
    width: 60px;
  height: 60px;
  text-align: center;
  justify-content: center;
  //padding-top: 8px;
  margin: 0;
  
    img{
      width: 60px;
  height: 60px;
  
  
      
    }
  
    
  }

  .selectedGen {
    //background: #4137FF;
    background-image: linear-gradient(#4137FF, #2AE4F0);
  }

  .selectedGentext{
    color: #1A1A1A !important ;
  }

  .rolediv{
      margin-top: 32px;
  }

  .emailtag{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      font-style: normal;
      color: #1a1a1a;
  }

  .email{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    color: #333333;
}

.top{
    margin-top: 48px;
}