<ion-list lines="none">
  <ion-item class="selecteditem">
    <ion-avatar slot="start">
      <img [src]="'assets/Ellipse86.png'" />
    </ion-avatar>
    <ion-label>
      <div class="headtext">David’s Care Circle</div>
      <div class="mailtext">daviddoe.father@gmail.com</div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="'assets/Ellipse86.png'" />
    </ion-avatar>
    <ion-label>
      <div class="headtext">Alice’s Care Circle</div>
      <div class="mailtext">alicedoe.mother@gmail.com</div>
    </ion-label>
  </ion-item>
</ion-list>
