<ion-content fullscreen>
  <ion-grid class="closebutton">
    <ion-icon src="../assets/MariposaIcons/close.svg"></ion-icon>
  </ion-grid>
  <ion-grid style="padding-top:113px ;">
    <ion-img src="../assets/MariposaIcons/Invite/mail.svg"></ion-img>

    <div style="text-align: center;">
      <ion-text color="primary"><h5 style="font-weight:bold;font-size:16px;line-height: 19px;">Invitation Send</h5></ion-text>
    </div>

    <div>
      <ion-text><h6 style="text-align:center;font-size:16px;font-weight: 300;margin-top:0px ;line-height: 19px;">invite has send to <br>"{{email}}"</h6></ion-text>
    </div>


    


  </ion-grid>
</ion-content>

