<ion-content>
    <ion-grid style="padding-left:16px ;padding-bottom: 0px;">
        <ion-toolbar>
            <ion-buttons slot="start">
                <m-backbutton></m-backbutton>
            </ion-buttons>
        </ion-toolbar>
    </ion-grid>

    <ion-grid>
        <ion-text>
            <h5 style="margin-top: 40px;"><b>Reset Password?</b></h5>
        </ion-text>
        <ion-text>
            <h6 style="margin-top: 40px;">Please Enter OTP sent on email</h6>
        </ion-text>
        <ion-row class="otprow" text-center>
            <ion-col [formGroup]="otpForm">
                <ion-input formControlName="otp1" class="otp-input" type="tel" #otp1 required maxLength="1" (keyup)="otpController($event,otp2,'')">
                </ion-input>
                <ion-input formControlName="otp2" class="otp-input" type="tel" #otp2 required maxLength="1" (keyup)="otpController($event,otp3,otp1)">
                </ion-input>
                <ion-input formControlName="otp3" class="otp-input" type="tel" #otp3 required maxLength="1" (keyup)="otpController($event,otp4,otp2)">
                </ion-input>
                <ion-input formControlName="otp4" class="otp-input" type="tel" #otp4 required maxLength="1" (keyup)="otpController($event,otp5,otp3)">
                </ion-input>
                <ion-input formControlName="otp5" class="otp-input" type="tel" #otp5 required maxLength="1" (keyup)="otpController($event,otp6,otp4)">
                </ion-input>
                <ion-input formControlName="otp6" class="otp-input" type="tel" #otp6 required maxLength="1" (keyup)="otpController($event,'',otp5)">
                </ion-input>
            </ion-col>
        </ion-row>
        <ion-text>
            <h6 style="margin-top: 30px;">Please create a new password</h6>
        </ion-text>

        <div [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
            <div class="nametag" style="margin-top: 46px;">
                <ion-text position="floating" id="tag">New Password</ion-text>
            </div>

            <div>
                <ion-input formControlName="password" mode="md" class="input" type="password" placeholder="Enter new password"></ion-input>
                <ion-item [hidden]="checkValidity(resetPasswordForm.controls.password)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                    <ion-text class=“warning”>Incorrect Password.</ion-text>
                </ion-item>
            </div>

            <div class="nametag">
                <ion-text position="floating" id="tag">Confirm Password</ion-text>
            </div>

            <div>
                <ion-input formControlName="confirmPassword" mode="md" class="input" type="password" placeholder="Re-enter Password"></ion-input>
                <ion-item [hidden]="checkValidity(resetPasswordForm.controls.confirmPassword, true)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                    <ion-text class=“warning”>Incorrect Password.</ion-text>
                </ion-item>
            </div>
            <div class="top3">
                <ion-label>Please wait for 3 minutes before requesting the OTP again.</ion-label>
                <br/>
                <br/>
                <ion-text class="confirmotp">Didn't get OTP? </ion-text>
                <br/>
                <br/>
                <ion-text (click)="resendOtp()" class="resendotp">Click here to Resend</ion-text>
            </div>
            <br/>
            <div id="button">
                <ion-button [disabled]="otpForm.invalid || resetPasswordForm.invalid" (click)="changePassword()" class="btnblue" type="submit" id="signup">RESET PASSWORD</ion-button>
            </div>
        </div>
    </ion-grid>

</ion-content>