



ion-img{

    height: 52px;;
}

ion-checkbox {
    background: #ffffff;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 4px;
    border-color: black !important;
    --height: 24px;
    --width: 24px;
    --checkmark-color: #000000;
    --background-checked: #ffffff;
    --border-color: #ffffff;
    --border-color-checked: #ffffff;
    
  }

  ion-select{

    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
  }

  .headtoolbar div{
    margin-top: 24px;
  }

  .closeicon{
    margin-top:18px;
  }