<ion-header mode="md">
  
  <ion-toolbar class="headtoolbar">
    
      <ion-row>
        <ion-col size="2">
          <ion-toolbar>
            <ion-buttons slot="start">
             <m-backbutton></m-backbutton>
            </ion-buttons>
        </ion-toolbar> 
        
        </ion-col>
        <ion-col size="8">
          <div>
            <ion-text color="mdblack" position="floating" id="titletag">Home & Safety</ion-text>
           
          </div> 
        </ion-col>
       
      </ion-row>
   
  </ion-toolbar>

</ion-header>



<ion-content>
  <ion-grid style="padding:24px;height:fit-content;margin-bottom:48px">

    <!-- AIDS -->

    <div style="padding-top:0px;margin-bottom:15px;">
      <ion-label style="font-size: 16px;line-height: 19px;">Aids</ion-label>
    </div>  
    
  <!-- CHECKBOX 1 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Cane color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Cane)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Cane</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 2 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Walker color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Walker)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Walker</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 3 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Wheelchair color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Wheelchair)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Wheelchair</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 4 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #GeriChair color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(GeriChair)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Geri-Chair</ion-text></div>
      </ion-col>  
    </ion-row>

     <!-- CHECKBOX 5 -->

     <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Scooter color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Scooter)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Scooter</ion-text></div>
      </ion-col>  
    </ion-row>

    <hr class="solid">

     <!-- Fall RISK -->

     <ion-row style="align-items: center;">
      <ion-col size=8>
        <ion-text (click)="generateClick(FallRisk)" style="font-size:16px;line-height:19px;">Fall Risk</ion-text>
      </ion-col>
      <ion-col>
        <ion-text style="font-size:16px;line-height:19px;font-weight:normal;float: right;margin-right:12px ;"><span *ngIf="FallRisk.checked">YES</span
          ><span *ngIf="!FallRisk.checked">NO</span></ion-text>
      </ion-col>
      <ion-col>
        <ion-toggle #FallRisk mode="ios" checked color="primary" style="float: right;"></ion-toggle>
      </ion-col>
    </ion-row>

    <hr class="solid">

     <!-- SAFETY ASSESSMENT -->

     <ion-row style="align-items: center;">
      <ion-col size=8>
        <ion-text (click)="generateClick(Hassafetyassessmentdone)" style="font-size:16px;line-height:19px;">Has safety assessment done</ion-text>
      </ion-col>
      <ion-col>
        <ion-text style="font-size:16px;line-height:19px;font-weight:normal;float: right;margin-right:12px ;"><span *ngIf="Hassafetyassessmentdone.checked">YES</span
          ><span *ngIf="!Hassafetyassessmentdone.checked">NO</span></ion-text>
      </ion-col>
      <ion-col>
        <ion-toggle #Hassafetyassessmentdone mode="ios" checked color="primary" style="float: right;"></ion-toggle>
      </ion-col>
    </ion-row>

    <hr class="solid">

    <!-- TRANSFER TYPE -->

    <div style="padding-top:0px;margin-bottom:10px;">
      <ion-label style="font-size: 16px;line-height: 19px;">Hearing</ion-label>
    </div>  

    <ion-radio-group #Hearing>
      <ion-row style="align-items: center;">
        <ion-col size="1">
          <ion-radio mode="md" value="0" style="float:left;"></ion-radio>
        </ion-col>
        <ion-col size="3">
          <ion-text (click)="generateClick2(Hearing,'0')" style="font-size:16px;line-height:19px;font-weight:300;float:left">None</ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-radio mode="md" value="1" style="float:right"></ion-radio>
        </ion-col>
        <ion-col size="3">
         <ion-text (click)="generateClick2(Hearing,'1')" style="font-size:16px;line-height:19px;font-weight:300;margin-left:8px;">Full</ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-radio mode="md" value="2" style="float:right"></ion-radio>
        </ion-col>
        <ion-col size="3">
          <ion-text (click)="generateClick2(Hearing,'2')" style="font-size:16px;line-height:19px;font-weight:300;margin-left:8px;">Partial</ion-text>
        </ion-col>
      </ion-row>
     
    </ion-radio-group>

    <hr class="solid">

        <!-- TRANSFER INSTRUCTIONS -->

        <div class="nametag">
          <ion-text position="floating" id="tag">Transfer instructions and risks</ion-text>
        </div>
        <div >
          <ion-textarea style="height: 100px;margin-top: 2px;" class="input" placeholder="Write if any specific instruction or risk"></ion-textarea>
        </div>

       
        <!-- OTHER -->

    <div style="padding-top:0px;margin-bottom:15px;margin-top: 24px;">
      <ion-label style="font-size: 16px;line-height: 19px;">Other</ion-label>
    </div>  
    
   <!-- CHECKBOX 1 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Bedrails color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Bedrails)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Bedrails</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 2 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Hospitalbed color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Hospitalbed)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Hospital bed</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 3 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #BedCommode color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(BedCommode)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Bed Commode</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 4 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Grabbars color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Grabbars)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Grab bars</ion-text></div>
      </ion-col>  
    </ion-row>

     <!-- CHECKBOX 5 -->

     <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Lifechair color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text  (click)="generateClick(Lifechair)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Life chair</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 6 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #RaisedToiletSeat color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(RaisedToiletSeat)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Raised Toilet Seat</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 7 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Showerbench color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Showerbench)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Shower bench</ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 8 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Handheldshowerhead color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Handheldshowerhead)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Handheld showerhead </ion-text></div>
      </ion-col>  
    </ion-row>

    <!-- CHECKBOX 9 -->

    <ion-row style="align-items: center;margin-top:5px;">
      <ion-col  size="1">
        <div style="padding-left: 3px;"><ion-checkbox mode="md" #Other color="mwhite" checked="false"></ion-checkbox></div>
      </ion-col>
      <ion-col size="11" style="padding-top: 0px;">
        <div><ion-text (click)="generateClick(Other)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Other</ion-text></div>
      </ion-col>  
    </ion-row>

    <hr class="solid">

    <!-- NOTES -->

    <div class="nametag">
      <ion-text position="floating" id="tag">Notes (optional)</ion-text>
    </div>
    <div >
      <ion-textarea style="height: 120px;margin-top: 2px;" class="input" placeholder="Write notes here"></ion-textarea>
    </div>

 
        


  </ion-grid>
</ion-content>


<ion-footer>
  <ion-grid style="padding-left: 24px;padding-right: 24px;padding-top: 16px;padding-bottom: 16px;">
  <!-- BUTTON -->
  <div id="button">
    <ion-row style="align-items: center;">
      <ion-col size="4">
        
          <ion-button class="btn1" [disabled]="false"  type="submit"  id="signup">PREVIEW</ion-button>
          
      </ion-col>
       
      <ion-col size="8">
        
          <ion-button class="btn2" [disabled]="false"  type="submit" (click)= "save()"  id="signup">SAVE AND PROCEED</ion-button>
        
      </ion-col>
    </ion-row>
  </div>  
</ion-grid>
  
</ion-footer>
