<app-m-header-close title="Add items to shopping list"></app-m-header-close>

<ion-content fullscreen>
    <ion-grid style="padding-top:32px;padding-left:24px;">
        <form [formGroup]="shoppingForm">
            <div class="nametag" style="margin-top: 5px;">
                <ion-text position="floating" id="tag">Item Name</ion-text>
            </div>
            <div>
                <ion-input mode="md" formControlName="name" class="input" placeholder="Item Name"></ion-input>
                <ion-item [hidden]="checkValidity(shoppingFormControl.name)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                    <ion-text class=“warning”>Item name is required.</ion-text>
                </ion-item>
            </div>
            <div class="nametag">
                <ion-text position="floating" id="tag">Specification (brand,shop etc.,)</ion-text>
            </div>
            <div>
                <ion-input mode="md" formControlName="brand" class="input" placeholder="Add any specification"></ion-input>
                <ion-item [hidden]="checkValidity(shoppingFormControl.brand)" lines="none" style="margin-top:-10px;margin-left:-10px;">
                    <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                    <ion-text class=“warning”>Specification is required</ion-text>
                </ion-item>
            </div>
            <div id="button">
                <ion-button [disabled]="false" class="btnblue" type="submit" id="signup" (click)="save()">ADD</ion-button>
            </div>
        </form>
    </ion-grid>
</ion-content>