<ion-header mode="md">
    <ion-toolbar class="headtoolbar">
        <ion-buttons class="backbutton" slot="start">
            <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" src="assets/back.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="cap ion-text-capitalize" color="mdblack" position="floating" id="titletag">{{ data.key.toLowerCase() }} Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="maindiv">
        <p class="hdng">Activity details</p>
        <p class="timng">{{data.startTime | date:'dd-MM-yyyy hh:mm a'}}</p>
        <p class="dscrptn ion-text-capitalize">{{data.values?.instructions}}</p>
    </div>

    <div class="ion-no-padding">
        <hr />
    </div>

    <div class="maindiv2">
        <p class="hdng">Assigned to</p>
        <ng-container *ngIf="data.values?.assignedTo; else schedule">
            <p class="name">{{data.values?.assignedTo?.assigned.userName}}</p>
            <p class="work ion-text-capitalize">{{data.values?.assignedTo?.type.toLowerCase()}}</p>
        </ng-container>
        <ng-template #schedule>
            <p class="name">{{data.assignedTo?.userName}}</p>
            <!-- <p class="work ion-text-capitalize">{{data.values?.assignedTo?.type.toLowerCase()}}</p> -->
        </ng-template>
    </div>

    <div class="ion-no-padding hr2">
        <hr />
    </div>

    <div class="maindiv3">
        <p class="hdng">Instructions</p>
        <p *ngIf="data.values" class="decpt ion-text-capitalize">
            {{data.values?.instructions}}
        </p>
        <p *ngIf="data.instructions" class="decpt ion-text-capitalize">
            {{data.instructions}}
        </p>
    </div>
</ion-content>
<ion-footer [hidden]="data.activityId">
    <div id="button">
        <ion-button type="submit" class="btnblue" expand="block">EDIT</ion-button>
    </div>
</ion-footer>