<ion-header mode="md">

    <ion-toolbar class="headtoolbar">
        <ion-grid class="headergrid">
            <ion-row style="align-items: center;margin-bottom: 5px;">
                <ion-col size="10">
                    <div>
                        <ion-text color="mdblack" position="floating" id="titletag">Updating on today's schedule</ion-text>
                        <ion-text class="cap" style="font-size:14px;" color="mdgrey"><br>{{date}}</ion-text>
                    </div>
                </ion-col>
                <ion-col (click)="back()">
                    <ion-icon style="zoom:1.2;color: black;float:right;" name="close-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="content" *ngIf="dataLoaded">

        <div [hidden]="false">
            <ion-text class="tag cap">Completed Activities</ion-text>

            <ion-row style="align-items: center; margin-top: 20px;" *ngFor="let item of activityList">
                <ion-col size="1">
                    <div style="padding-left: 3px;">
                        <ion-checkbox [(ngModel)]="formData.activity[item]" color="mwhite" checked="false"></ion-checkbox>
                    </div>
                </ion-col>
                <ion-col (click)="generateClick('activity',item)" size="11" style="padding-top: 0px;">
                    <div>
                        <ion-text style="font-size: 16px;line-height: 19px;font-weight: 300;margin-left: 12px;" color="mdblack ion-text-capitalize">{{item}}</ion-text>
                    </div>
                </ion-col>
            </ion-row>
            <hr class="solid">
        </div>
        <div>
            <ion-text class="tag cap">Check Vitals
                <ion-text class="cap" style="font-size:14px;" color="mdgrey">(Please use vitals tab to add vitals)</ion-text>
            </ion-text>
            <div *ngIf="vitalList.length; else noVitals;">
                <ion-row style="align-items: center; margin-top: 20px;" *ngFor="let item of vitalList">
                    <ion-col size="1">
                        <div style="padding-left: 3px;">
                            <ion-checkbox disabled [checked]="vitalValues[item.type]?.length" color="mwhite" checked="false"></ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col size="11" style="padding-top: 0px;">
                        <div>
                            <ion-text style="font-size: 16px;line-height: 19px;font-weight: 300;margin-left: 12px;" color="mdblack ion-text-capitalize">{{item.label}}</ion-text>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <ng-template #noVitals>
                <p>
                    <ion-text class="cap" style="font-size:14px;" color="mdgrey">No Vitals for today</ion-text>
                </p>
            </ng-template>
            <hr class="solid">
        </div>
        <div [hidden]="false">
            <ion-text class="tag cap">Medication</ion-text>
            <div *ngIf="medicationList.length; else noMedication;">
                <ion-row style="align-items: center; margin-top: 20px;" *ngFor="let item of medicationList">
                    <ion-col size="1">
                        <div style="padding-left: 3px;">
                            <ion-checkbox [(ngModel)]="formData.medication[item.name]" color="mwhite"></ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col (click)="generateClick('medication',item.name)" size="11" style="padding-top: 0px;">
                        <div>
                            <ion-text style="font-size: 16px;line-height: 19px;font-weight: 300;margin-left: 12px;" color="mdblack ion-text-capitalize">{{item.name}}</ion-text>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <ng-template #noMedication>
                <p>
                    <ion-text class="cap" style="font-size:14px;" color="mdgrey">No Medication for today</ion-text>
                </p>
            </ng-template>
            <hr class="solid">
        </div>

        <div [hidden]="false">

            <ion-text class="tag cap">Shopping List</ion-text>
            <div *ngIf="shoppingList.length; else noShopping;">
                <ion-row style="align-items: center; margin-top: 20px;" *ngFor="let item of shoppingList">
                    <ion-col size="1">
                        <div style="padding-left: 3px;">
                            <ion-checkbox [(ngModel)]="formData.shopping[item.name]" #shoppingtype color="mwhite"></ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col (click)="generateClick('shopping',item.name)" size="11" style="padding-top: 0px;">
                        <div>
                            <ion-text style="font-size: 16px;line-height: 19px;font-weight: 300;margin-left: 12px;" color="mdblack">{{item.name}}, {{item.quantity}} {{item.unit}}</ion-text>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <ng-template #noShopping>
                <p>
                    <ion-text class="cap" style="font-size:14px;" color="mdgrey">No Shopping list for today</ion-text>
                </p>
            </ng-template>
            <hr class="solid">
        </div>

        <!-- INSTRUCTIONS -->

        <div class="nametag" style="margin-top: 0px;">
            <ion-text position="floating" id="tag">Notes</ion-text>
        </div>
        <div>
            <ion-textarea [(ngModel)]="formData.notes" style="height: 150px;" rows="7" class="input" placeholder="Write here"></ion-textarea>
        </div>

        <!-- ADD IMAGE -->
        <app-m-image-selector [(imageList)]="formData.imageList"></app-m-image-selector>
    </ion-grid>
</ion-content>

<ion-footer mode="md">
    <ion-toolbar id="button">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="block" (click)="save()" class="lbtn" shape="round">
                        SAVE
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button color="primary" (click)="save(true)" expand="block" class="rbtn" shape="round">
                        SUBMIT
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>