<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513372958360-n2r20l3h3h3vf26qohic7mgvabal3osm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513372958360-n2r20l3h3h3vf26qohic7mgvabal3osm</string>
	<key>API_KEY</key>
	<string>AIzaSyD2MJAR1iNnTOuva8eTziHiiRKqSgYpT0c</string>
	<key>GCM_SENDER_ID</key>
	<string>513372958360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mariposa.app</string>
	<key>PROJECT_ID</key>
	<string>mariposa-6548f</string>
	<key>STORAGE_BUCKET</key>
	<string>mariposa-6548f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513372958360:ios:569e0e78c6b0fdca4deaed</string>
	<key>DATABASE_URL</key>
	<string>https://mariposa-6548f.firebaseio.com</string>
</dict>
</plist>