<app-m-header-close title="Sleep Assistance"></app-m-header-close>

<ion-content fullscreen [formGroup]="sleepForm">
    <ion-grid style="padding:24px;height:fit-content;margin-bottom:80px">

        <!-- GOES TO BED -->

        <ion-row style="align-items: center;">
            <ion-col>
                <ion-text>Goes to Bed Time</ion-text>
            </ion-col>
            <ion-col>
                <ion-buttons style="float: right;">
                    <ion-button color="mdblack" class="jumbo">
                        <ion-datetime formControlName="bedTime" mode="ios" slot="start" style="float:left" displayFormat="HH:mm" placeholder="HH:MM"></ion-datetime>
                        <ion-icon slot="end" style="float:right;width:30px;height: 30px;" src="assets/MariposaIcons/Timeicon.svg"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>

        <hr class="solid">

        <!-- WAKE UP TIME -->

        <ion-row style="align-items: center;">
            <ion-col>
                <ion-text>Wake Up Time</ion-text>
            </ion-col>
            <ion-col>
                <ion-buttons style="float: right;">
                    <ion-button color="mdblack" class="jumbo">
                        <ion-datetime mode="ios" formControlName="wakeupTime" style="float:left" displayFormat="HH:mm" placeholder="HH:MM"></ion-datetime>
                        <ion-icon style="float:right;width:30px;height: 30px;" src="assets/MariposaIcons/Timeicon.svg"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>

        <hr class="solid">

        <!-- SLEEPING TYPE -->

        <div style="padding-top:0px;margin-bottom:15px;">
            <ion-label style="font-size: 16px;line-height: 19px;">Sleeping Type</ion-label>
        </div>

        <!-- CHECKBOX 1 -->
        <ion-row style="align-items: center; margin-top: 5px;" *ngFor="let sleep of sleepType">
            <ion-col size="1">
                <div style="padding-left: 3px;">
                    <ion-checkbox color="mwhite" checked="false" [(ngModel)]="formData.sleepType[sleep]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                </div>
            </ion-col>
            <ion-col (click)="setSleepTypeValue(sleep)" size="11" style="padding-top: 0px;">
                <div>
                    <ion-text style="font-size: 16px;line-height: 19px;font-weight: 300;margin-left: 12px;" color="mdblack">{{sleep}}</ion-text>
                </div>
            </ion-col>
        </ion-row>

        <!-- <ion-row style="align-items: center;margin-top:5px;">
            <ion-col size="1">
                <div style="padding-left: 3px;">
                    <ion-checkbox #Sleepthroughnight color="mwhite" checked="false"></ion-checkbox>
                </div>
            </ion-col>
            <ion-col size="11" style="padding-top: 0px;">
                <div>
                    <ion-text (click)="generateClick(Sleepthroughnight)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Sleep through night</ion-text>
                </div>
            </ion-col>
        </ion-row> -->

        <!-- CHECKBOX 2 -->

        <!-- <ion-row style="align-items: center;margin-top:5px;">
            <ion-col size="1">
                <div style="padding-left: 3px;">
                    <ion-checkbox #Frequentlyawakens color="mwhite" checked="false"></ion-checkbox>
                </div>
            </ion-col>
            <ion-col size="11" style="padding-top: 0px;">
                <div>
                    <ion-text (click)="generateClick(Frequentlyawakens)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Frequently awakens</ion-text>
                </div>
            </ion-col>
        </ion-row> -->

        <!-- CHECKBOX 3 -->

        <!-- <ion-row style="align-items: center;margin-top:5px;">
            <ion-col size="1">
                <div style="padding-left: 3px;">
                    <ion-checkbox #Getsupfortoileting color="mwhite" checked="false"></ion-checkbox>
                </div>
            </ion-col>
            <ion-col size="11" style="padding-top: 0px;">
                <div>
                    <ion-text (click)="generateClick(Getsupfortoileting)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Gets up for toileting</ion-text>
                </div>
            </ion-col>
        </ion-row> -->

        <!-- CHECKBOX 4 -->

        <!-- <ion-row style="align-items: center;margin-top:5px;">
            <ion-col size="1">
                <div style="padding-left: 3px;">
                    <ion-checkbox #Difficultyreturningtosleep color="mwhite" checked="false"></ion-checkbox>
                </div>
            </ion-col>
            <ion-col size="11" style="padding-top: 0px;">
                <div>
                    <ion-text (click)="generateClick(Difficultyreturningtosleep)" style="font-size:16px;line-height:19px;font-weight:300;margin-left:12px" color="mdblack">Difficulty returning to sleep</ion-text>
                </div>
            </ion-col>
        </ion-row> -->

        <hr class="solid">

        <!-- ASSISTANCE AT NIGHT -->

        <ion-row style="align-items: center;">
            <ion-col size=8>
                <ion-text style="font-size:16px;line-height:19px;">Need assistance at night<br>from care giver</ion-text>
            </ion-col>
            <ion-col>
                <ion-text style="font-size:16px;line-height:19px;font-weight:normal;float: right;margin-right:12px ;"><span *ngIf="Needassistanceatnight.checked">YES</span
          ><span *ngIf="!Needassistanceatnight.checked">NO</span></ion-text>
            </ion-col>
            <ion-col>
                <ion-toggle #Needassistanceatnight formControlName="nightAssistance" mode="ios" checked color="primary" style="float: right;"></ion-toggle>
            </ion-col>
        </ion-row>

        <hr class="solid">

        <!-- NAP DURING DAY -->

        <ion-text style="font-size:16px;line-height:19px;">Nap during the day</ion-text>
        <div *ngFor="let nap of formData.naps">
            <ion-row style="align-items: center;margin-top: 17px;">
                <ion-col>
                    <ion-text>Time</ion-text>
                </ion-col>
                <ion-col>
                    <ion-buttons style="float: right;">
                        <ion-button color="mdblack" class="jumbo">
                            <ion-datetime [(ngModel)]="nap.time" [ngModelOptions]="{standalone: true}" mode="ios" style="float:left" displayFormat="HH:mm" placeholder="HH:MM"></ion-datetime>
                            <ion-icon style="float:right;width:30px;height: 30px;" src="assets/MariposaIcons/Timeicon.svg"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-col>
            </ion-row>

            <ion-row style="align-items: center;margin-top: 15px;">
                <ion-col>
                    <ion-text>Duration</ion-text>
                </ion-col>
                <ion-col>
                    <ion-select [(ngModel)]="nap.duration" [ngModelOptions]="{standalone: true}" mode="ios" interface="popover" class="duration" style="float:right;width:140px;height:40px">
                        <ion-select-option value="30">30 Minutes</ion-select-option>
                        <ion-select-option value="60">1 Hour</ion-select-option>
                        <ion-select-option value="90">1.5 Hours</ion-select-option>
                        <ion-select-option value="120">2 Hours</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </div>

        <!-- ADD BUTTON -->

        <ion-button class="addbutton" fill="outline" shape="round" (click)="addNewNap()">
            <ion-icon class="plusbutton" slot="start" name="add-circle"></ion-icon>Add
        </ion-button>

        <hr class="solid">

        <!-- NOTES -->

        <!-- INSTRUCTIONS -->

        <div class="nametag">
            <ion-text position="floating" id="tag">Notes(optional)</ion-text>
        </div>
        <div>
            <ion-textarea formControlName="notes" style="height: 120px;" class="input" placeholder="Write here"></ion-textarea>
        </div>

        <!--ADD IMAGE-->
        <app-m-image-selector [(imageList)]="imageList"></app-m-image-selector>

    </ion-grid>
</ion-content>

<ion-footer [formGroup]="sleepForm">
    <div id="button">
        <ion-button [disabled]="!sleepForm.valid" class="btnblue" (click)="save()" type="submit" id="signup">SAVE & PROCEED</ion-button>
    </div>
</ion-footer>