<ion-header mode="md">
    <ion-toolbar class="toolbarshadow">
        <ion-title mode="md" class="title-text">
            Calender Week View
        </ion-title>
        <ion-buttons mode="md" slot="end">
            <ion-button (click)="back()">
                <ion-icon mode="md" slot="icon-only" src="assets/MariposaIcons/Close icon.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <!-- <ion-toolbar>
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="chipcol">
          <div
            color="primary"
            mode="ios"
            [ngClass]="item.name==selectedDay?'selectedchip':'unselectchip'"
            (click)="selectChip(item)"
            *ngFor="let item of daysList"
          >
            <ion-label>{{item.name}}</ion-label>
        </div>
         
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar> -->
    <app-calenderdate *ngIf="dataLoaded" [showMonth]="false" (dayselected)="ChangeData($event)"></app-calenderdate>
</ion-header>

<ion-content>
    <!-- <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="timelinecol" *ngFor="let item of timeLine">
        <h2 class="timePer">{{item.time}}</h2>
        <div
          class="detailCard"
          [class.hidecard]="!item.card"
          [class.selectedCard]="item.selected"
        >
          <h3 class="cardtitle">{{item.name}}</h3>
          <h3 class="carddesc">{{item.desc}}</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

    <ion-grid fixed class="ion-no-padding">
        <ion-row *ngIf="dataLoaded">
            <ion-col size="2">
                <ion-row>
                    <ion-col size="12" class="timelinecol" *ngFor="let item of timeLine">
                        <h2 class="timePer">{{item}}</h2>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="10">
                <ng-container *ngFor="let item of timeLineShifts.events">
                    <ion-card class="timelinecard" [style.top.px]="item['top']" [style.height]="item['height']" *ngIf="item.key;else emptyspace">
                        <h1>{{item.key}}</h1>
                        <h4>
                            {{item.startTime | date:'hh:mm aa'}} - {{item.endTime| date:'hh:mm aa' }}
                        </h4>
                    </ion-card>
                    <ng-template #emptyspace>
                        <div class="emptyspace" [style.height.px]="item['emptyheight']"></div>
                    </ng-template>
                </ng-container>
                <!-- <ion-card class="timelinecard">
          <h1>Johnson</h1>
          <h4>2:00 pm - 8:30 pm</h4>
        </ion-card> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>