<ion-header mode="md">
  <ion-toolbar class="headtoolbar">
    <ion-grid>
      <ion-row style="align-items: center; margin-top: 32px;">
        <ion-col size="10">
          <ion-text color="mdblack" position="floating" id="titletag"
            >Notifications</ion-text
          >
        </ion-col>
        <ion-col>
          <ion-icon
            style="zoom: 1.2; color: black; float: right;"
            name="close-outline"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
